@media(max-width: 767px) {
	.ca_404 {
		.container {
			h1 {
				font-size: 45px;
				letter-spacing: 0.7px;
				line-height: 65px;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 30px;
			}
		}
	}
}