@media(max-width: 767px) {
	.ca_careers_top {
		padding-bottom: 120px;
		h1 {
			margin-bottom: 36px;
		}
		p {
			font-size: 21px;
			line-height: 32px;
			margin-bottom: 25px;
		}
	}
	.ca_careers_embeded {
		padding-top: 56px;
		padding-bottom: 56px;
		h2 {
			font-size: 38px;
			line-height: 65px;
			letter-spacing: 0.6px;
			margin-bottom: 23px;
			text-align: center;
		}
		.ca_embedded_holder {
			display: block;
			width: 100%;
		}
	}
}