@media(max-width: 767px) {
	.ca_company_top {
		position: relative;
		.row {
			position: static;
			.col-md-10 {
				position: static;
				* {
					position: relative;
					z-index: 1;
				}
				&:before {
					display: none;
				}
				h1 {
					font-size: 35px;
					line-height: 40px;
					position: relative;
					text-align: left;
					top: 0;
					left: 0;
					padding-top: 105px;
					margin-bottom: 32px;
				}
				img {
					position: absolute;
					width: auto !important;
					max-width: none;
					height: 100%;
					top: 0;
					left: 50%;
					transform: translate(-50%, 0);
					z-index: 0;
				}
			}
		}
	}
	.ca_company_info {
		padding-top: 0;
		padding-bottom: 70px;
		h2 {
			font-size: 19px;
			line-height: 29px;
			font-family: 'Montserrat';
			font-weight: 500;
			text-align: left;
			margin-bottom: 22px;
		}
		h3 {
			font-size: 22px;
			line-height: 32px;
			margin-bottom: 3px;
			text-align: left;
		}
		h4 {
			font-size: 15px;
			line-height: 32px;
			margin-bottom: 30px;
			text-align: left;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			padding: 0;
			margin-bottom: 25px;
			text-align: left;
		}
		img {
			display: none;
		}
		.ca_arrow {
			width: 50px;
			height: 50px;
			border: solid 1px #0fbbd6;
			display: block;
			position: relative;
			left: 50%;
			margin-left: -25px;
			margin-top: 50px;
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: solid 10px #0fbbd6;
				border-bottom: none;
				border-left: solid 5px transparent;
				border-right: solid 5px transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -5px;
				margin-left: -5px;
			}
		}
	}
	.ca_comapny_members {
		padding-top: 55px;
		padding-bottom: 25px;
		.row {

			h2 {
				font-size: 35px;
				line-height: 40px;
				text-align: left;
				margin-bottom: 23px;
			}
			img {
				width: 227px;
				height: auto;
				margin-bottom: 10px;
				position: relative;
				left: auto;
				right: auto;
				width: 100%;
				height: auto;
				transform: none;
			}
			h3 {
				font-size: 19px;
				line-height: 32px;
			}
			h4 {
				font-size: 12px;
				line-height: 26px;
				padding-bottom: 85px !important;
				&:before {
					height: 55px;
					bottom: 15px;
				}
			}
			p {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 40px;
			}
			.col-md-12 { order: 0; }
			.col-md-1 { order: 1; }
			.col-md-3 {
				order: 2;
				&:before {
					margin-left: 50rem;
				}
			}
			.col-md-5 { order: 3; padding: 0 15px !important;}
			.col-md-3 + .col-md-3 { order: 4; }
		}
	}
	.ca_company_investors {
		padding-bottom: 65px;
		h2 {
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 23px;
		}
		h3 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 55px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
		.ca_slider_one {
			margin-bottom: 20px;
			img {
				width: 80% !important;
				height: auto;
				max-height: none;
			}
		}
		.ca_slider_one_nav {
			margin-bottom: 70px;
			button {
				width: 20px;
				height: 20px;
			}
		}
		.ca_slider_two {
			margin-bottom: 35px;
			h3 {
				font-size: 22px;
				line-height: 32px;
			}
			p {
				font-size: 16px;
				line-height: 26px;
				padding-left: 25px;
				&:before {
					width: 15px;
				}
			}
		}
		.ca_slider_two_nav {
			button {
				width: 20px;
				height: 20px;
			}
		}
	}
}