@media(max-width: 767px) {
	.ca_home_top {
		padding-top: 145px;
		padding-bottom: 52px;
		h1 {
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.5px;
			margin-bottom: 54px;
		}
		h2 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 43px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 80px;
		}
		.ca_arrow {
			width: 50px;
			height: 50px;
			border: solid 1px #0fbbd6;
			display: block;
			position: relative;
			left: 50%;
			margin-left: -25px;
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: solid 10px #0fbbd6;
				border-bottom: none;
				border-left: solid 5px transparent;
				border-right: solid 5px transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -5px;
				margin-left: -5px;
			}
		}
	}
	.ca_home_vision {
		padding-top: 177px;
		padding-bottom: 124px;
		h2 {
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.5px;
			margin-bottom: 31px;
			padding: 15px;
		}
		h3 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 32px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	.ca_home_techs {
		padding-top: 50px;
		padding-bottom: 50px;
		h2 {
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.5px;
			margin-bottom: 19px;
		}
		h3 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 30px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 40px;
		}
		.ca_tech_bubble {
			padding: 25px;
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			&:before {
				width: 90%;
				left: 5%;
				box-shadow: 0px 10px 4px -2px rgba(0,0,0,0.56);
			}
			.ca_num {
				font-size: 15px;
				letter-spacing: 0.2px;
				margin-bottom: 5px;
				order: 0;
			}
			.img {
				width: 30px;
				height: 30px;
				margin-right: 15px;
				margin-bottom: 10px;
				order: 1;
			}
			h3 {
				font-size: 35px;
				letter-spacing: 0.5px;
				margin-bottom: 7px;
				position: absolute;
				top: 50px;
				left: 70px;
				order: 2;
			}
			a.ca_more {
				font-size: 15px;
				float: none;
				order: 4;
			}
			p {
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 10px;
				order: 3;
				width: auto;
			}
		}
	}
	.ca_home_company {
		padding-top: 60px;
		padding-bottom: 0;
		h2 {
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.5px;
			margin-bottom: 19px;
		}
		h3 {
			font-size: 19px;
			line-height: 22px;
			margin-bottom: 16px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 23px;
		}
		.img {
			padding: 0;
			width: 100vw;
			height: 280px;
			position: relative;
			left: 50%;
			margin-left: -50vw;
		}
	}
}