@media(max-width: 767px) {
	.ca_button {
		width: 100%;
		max-width: 320px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 15px;
		margin-bottom: 40px;
	}

	.ca_top_menu {
		padding-top: 0;
		.ca_logo {
			position: fixed;
			left: 15px;
			top: 28px;
			z-index: 1002;
			transition: top 0.3s;
			&:after {
				content: '';
				position: absolute;
				z-index: 0;
				background: #1b1b1b;
				width: 100vw;
				height: calc(100% + 28px * 1.7);
				left: -15px;
				top: -28px;
			}
			img {
				position: relative;
				z-index: 1;
				height: 35px;
			}
		}
		.ca_top_menu_bullets {
			display: none;
		}
		nav {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #1b1b1b;
			font-size: 0;
			margin: 0;
			padding: 0;
			max-width: none;
			transition: all 0.5s;
			z-index: 1003;
			.ca_burger {
				display: block;
				position: fixed;
				top: 35px;
				right: 15px;
				width: 35px;
				height: 20px;
				transition: top 0.3s;
				span {
					display: block;
					width: 100%;
					height: 1px;
					background: #7c8a97;
					position: absolute;
					right: 0;
					transition: all 0.3s;
					&:nth-child(1) {
						top: 0;
					}
					&:nth-child(2) {
						top: 50%;
						width: 75%;
					}
					&:nth-child(3) {
						bottom: 0;
						width: 50%;
					}
				}
			}
			ul {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:before {
					display: none;
				}
				li {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 25px;
					text-align: center;
					a {
						display: block;
						font-size: 14px;
						color: #fff;
						transform: scale(1, 0);
						transition: all 0.3s ease 0.5s;
					}
				}
			}
			&.ca_active {
				top: 0;
				.ca_burger {
					top: 35px !important;
					span {
						&:nth-child(1) {
							transform: rotate(45deg);
							top: 50%;
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:nth-child(3) {
							width: 100%;
							bottom: 50%;
							transform: rotate(-45deg);
						}
					}
				}
				ul {
					li {
						a {
							transform: scale(1, 1);
						}
					}
				}
			}
		}
		&.ca_hidden {
			.ca_logo {
				top: -100px;
			}
			nav {
				.ca_burger {
					top: -100px;
				}
			}
		}
	}

	.ca_contact_form {
		.container {
			padding: 0 15px;
			padding-top: 55px;
			.ca_static {
				a.ca_close_form {
					width: 26px;
					height: 26px;
					top: 25px;
					right: 15px;
				}
			}
			h2 {
				font-size: 20px;
				line-height: 25px;
				letter-spacing: 0.5px;
				margin-bottom: 13px;
			}
			h3 {
				font-size: 11px;
				line-height: 19px;
				letter-spacing: 0.7px;
				margin-bottom: 20px;
			}
			p, .wpcf7-not-valid-tip, .wpcf7-response-output {
				font-size: 11px;
				line-height: 16px;
				margin-bottom: 5px;
			}
			input {
				height: 30px;
				line-height: 30px;
				padding: 0 7px;
				font-size: 11px;
				line-height: 16px;
				&[type="submit"] {
					max-width: 320px;
					font-size: 11px;
					letter-spacing: 0.7px;
				}
			}
			textarea {
				height: 100px;
				line-height: 30px;
				padding: 0 7px;
				font-size: 11px;
				line-height: 16px;
			}
			.wpcf7-response-output {
				position: absolute;
				bottom: 0;
			}
			.ca_group {
				margin-bottom: 16px;
				.ca_half {
					width: 100%;
					padding-right: 0;
					margin-bottom: 8px;
					&:last-child {
						margin-bottom: 0;
						margin-top: 8px;
						padding-left: 0;
					}
				}
			}
		}
	}
	.ca_footer {
		padding-top: 40px;
		padding-bottom: 30px;
		.ca_one {order: 0; }
		.ca_two {order: 1; }
		.ca_three {order: 2; }
		.ca_four {order: 3; }
		.ca_five {order: 4; }
		.ca_six {order: 5; }
		.ca_logo {
			img {
				width: 65px;
				margin-bottom: 35px;
			}
		}
		ul {
			margin-bottom: 15px;
			li {
				a {
					font-size: 16px;
					line-height: 51px;
				}
			}
		}
		h3 {
			font-size: 16px;
			line-height: 51px;
		}
		p {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 25px;
		}
		.ca_social {
			span.fab, span.fa {
				font-size: 40px;
				display: block;
				margin-bottom: 40px;
			}
		}
		p.ca_copyright {
			font-size: 12px;
			margin-top: 25px;
		}
	}
}