@media(max-width: 767px) {
	.ca_tech_top {
		p {
			margin-bottom: 30px;
		}
		h2 {
			span {
				font-size: 16px;
			}
		}
	}
	.ca_tech_layers {
		.col-md-1 { order: 0; }
		.col-md-5 { order: 1; }
		.col-md-6 { order: 2; }
		padding-top: 72px;
		h2 {
			font-size: 34px;
			line-height: 40px;
			text-align: left;
			letter-spacing: 0.5px;
			margin-bottom: 32px;
			margin-left: 0 !important;
		}
		.num {
			font-size: 15px;
			letter-spacing: 0.2px;
			margin-left: 0 !important;
			margin-bottom: 9px;
		}
		.img {
			width: 30px;
			height: 30px;
			margin-bottom: 22px;
		}
		h3 {
			padding-left: 45px;
			font-size: 35px;
			letter-spacing: 0.5px;
			margin-bottom: 22px;
		}
		h4 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 13px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 25px;
		}
		.ca_holder {
			padding: 0;
			padding-top: 20px;
			&:before {
				width: 100vw;
				right: auto !important;
				left: -15px !important;
				box-shadow: 0px 15px 15px -13px rgba(0,0,0,0.56);
			}
			.ca_item {
				width: 50% !important;
				margin-bottom: 20px;
				padding: 0 !important;
				.img {
					width: 40px;
					height: 40px;
					margin-bottom: 10px;
				}
				p {
					font-size: 13px;
					line-height: 22px;
				}
			}
		}
	}
	.ca_tech_simulation {
		position: relative;
		z-index: 1;
		.ca_pre_simulation {
			padding-top: 240px;
			padding-bottom: 230px;
			min-height: 0;
			.container {
				position: relative;
				top: auto;
				left: auto;
				transform: none;
			}
			h2 {
				font-size: 32px;
				line-height: 40px;
				letter-spacing: 0.5px;
				margin-bottom: 30px;
			}
			h3 {
				font-size: 19px;
				line-height: 35px;
				margin-bottom: 35px;
			}
			.ca_arrow {
				width: 50px;
				height: 50px;
				border: solid 1px #0fbbd6;
				display: block;
				position: relative;
				left: 50%;
				margin-left: -25px;
				&:before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: solid 10px #0fbbd6;
					border-bottom: none;
					border-left: solid 5px transparent;
					border-right: solid 5px transparent;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -5px;
					margin-left: -5px;
				}
			}
		}
		.ca_simulation {
			min-height: 667px;
				.ca_scroll_down_button {
					a {
						width: 25px;
						height: 25px;
						&:before {
							border-top: solid 6px #0fbbd6;
							border-left: solid 3px transparent;
							border-right: solid 3px transparent;
						}
					}
				}
		}
	}
	.ca_tech_video {
		padding-top: 65px;
		padding-bottom: 40px;
		h2 {
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 33px;
		}
		h3 {
			font-size: 19px;
			line-height: 29px;
			margin-bottom: 50px;
		}
		.img {
			width: 50px;
			margin-right: 88px;
			img {
				max-width: 50px;
				max-height: 50px;
				margin-bottom: 7px;
			}
			p {
				font-size: 12px;
				line-height: 26px;
				margin-bottom: 26px;
			}
		}
		.ca_video_holder {
			width: 100%;
			height: auto;
			.ca_video {
				width: 100%;
				height: 250px;
			}
			p {
				position: relative;
				transform: none;
				font-size: 16px;
				line-height: 26px;
				margin-top: 17px;
				left: 15px;
				padding-left: 15px;
				&:before {
					width: 2px;
					height: 35px;
					bottom: 0;
					left: 0;
				}
			}
		}
	}

	.ca_tech_simulation {
		.ca_simulation {
			.ca_rotate_placeholder {
				position: fixed;
				z-index: 1000;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #000 url('../img/demo/rotate.png') center center no-repeat;
				background-size: 100% auto;
			}
		}
	}
}
@media screen and (max-width: 767px) and (orientation:portrait) {
	.ca_tech_top {
		.ca_video_container {
			display: none;
		}
	}
}
@media(max-width: 575px) {
	.ca_tech_video {
		.ca_video_holder {
			.ca_video {
				width: 100vw;
				position: relative;
				left: -15px;
			}
		}
	}
}