.ca_404 {
	background: #1b1b1b;
	background-image: url('../img/404.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 71.5833rem auto;
	min-height: 100vh;
	text-align: center;
	position: relative;
	.container {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1 {
			color: #17b7e6;
			font-size: 3.75rem;
			letter-spacing: 0.0583333rem;
			line-height: 5.41667rem;
			font-weight: 800;
			font-family: 'Montserrat';
			margin-bottom: 0.666667rem;
		}
		p {
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			color: #fefefe;
			font-family: 'Open Sans';
			font-weight: 400;
			margin-bottom: 1.08333rem;
			a {

			}
		}
	}
}