@keyframes blink_move_left {
	0% {
		//left: 10em;
		transform: translate(10em, 0);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		//left: -10em;
		transform: translate(-10em, 0);
		opacity: 0;
	}
	100% {
		//left: -10em;
		transform: translate(-10em, 0);
		opacity: 0;
	}
}
@keyframes blink_move_up {
	0% {
		//top: 10em;
		transform: translate(0, 10em);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		//top: -10em;
		transform: translate(0, -10em);
		opacity: 0;
	}
	100% {
		//top: -10em;
		transform: translate(0, -10em);
		opacity: 0;
	}
}
@keyframes blink_move_down {
	0% {
		//top: -10em;
		transform: translate(0, -10em);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		//top: 10em;
		transform: translate(0, 10em);
		opacity: 0;
	}
	100% {
		//top: 10em;
		transform: translate(0, 10em);
		opacity: 0;
	}
}
@keyframes blink {
	0% { opacity: 0.4; }
	50% { opacity: 1; }
	100% { opacity: 0.4; }
}
@keyframes rotate_135 {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	20% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(135deg);
	}
}
@keyframes rotate_-45 {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 0;
		transform: rotate(0deg);
	}
	30% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(-45deg);
	}
}
@keyframes rotate_0 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes rotate_360 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}