.ca_careers_top {
	background-image: url('../img/home_vision_bg.png');
	padding-bottom: 18.3333rem;
	h1 {
		margin-bottom: 3rem;
	}
	p {
		font-family: 'Montserrat';
		font-size: 1.75rem;
		line-height: 2.66667rem;
		color: #7c8a97;
		font-weight: 500;
	}
}
.ca_careers_embeded {
	padding-top: 4.66667rem;
	padding-bottom: 4.66667rem;
	background: #1b1b1b;
	h2 {
		font-size: 3.16667rem;
		line-height: 5.41667rem;
		letter-spacing: 0.05rem;
		color: #fff;
		margin-bottom: 1.91667rem;
	}
	.ca_embedded_holder {
		display: block;
		width: 100%;
	}
}