.ca_company_top {
	font-size: 0;
	text-align: center;
	background: #1b1b1b;
	overflow: hidden;
	.col-md-10 {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 6.75rem;
			bottom: 0;
			width: 2px;
			background: #fff;
			height: 35.8333rem;
			opacity: 0.6;
		}
	}
	img {
		width: 64.6667rem;
		max-width: 100%;
		height: auto;
		display: inline-block;
	}
	h1 {
		position: absolute;
		top: 14.5833rem;
		left: 15px;
		font-size: 4.58333rem;
		line-height: 5.41667rem;
		letter-spacing: 0.0666667rem;
	}
}
.ca_company_info {
	padding-top: 5.83333rem;
	padding-bottom: 9.16667rem;
	background: #1b1b1b;
	h2 {
		text-align: center;
		font-size: 3.16667rem;
		line-height: 5.41667rem;
		letter-spacing: 0.05rem;
		margin-bottom: 2.5rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		color: #7c8a97;
		font-weight: 500;
		font-style: italic;
		margin-bottom: 0.25rem;
	}
	h4 {
		font-family: 'Montserrat';
		color: #7c8a97;
		font-weight: 500;
		font-style: italic;
		font-size: 1.25rem;
		line-height: 2.66667rem;
		margin-bottom: 2.5rem;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		margin-bottom: 2.5rem;
		img {
			width: 100%;
			height: auto;
		}
	}
	.ca_arrow {
		display: none;
	}
}
.ca_comapny_members {
	padding-bottom: 11.6667rem;
	overflow: hidden;
	background: #1b1b1b;
	.row {
		margin-bottom: 11.6667rem;
		.col-md-5 {
			padding-right: 5.41667rem;
		}
		h2 {
			text-align: center;
			font-size: 3.16667rem;
			line-height: 5.41667rem;
			letter-spacing: 0.05rem;
			margin-bottom: 8.75rem;
		}
		h3 {
			font-size: 1.83333rem;
			line-height: 2.66667rem;
			color: #0fbbd6;
		}
		h4 {
			font-family: 'Open Sans';
			font-size: 1rem;
			line-height: 2.16667rem;
			color: #7c8a97;
			padding-bottom: 7.08333rem;
			margin-bottom: 0;
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 4.58333rem;
				background: #fff;
				bottom: 1.33333rem;
			}
		}
		p {
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			margin-bottom: 0;
		}
		img {
			width: auto;
			height: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 15px;

			left: 50%;
			transform: translate(-50%, 0);
		}
		.col-md-3 {
			overflow: hidden;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 35.0833rem;
				height: 39.75rem;
				background: url('../img/dots_bg.png') center center no-repeat;
				background-size: cover;
				left: 50%;
				top: 0;
				margin-left: 10rem;
				margin-top: 0rem;
				z-index: 0;
				opacity: 0.37;
			}
		}
		.col-md-3 + .col-md-3 {
			&:beofre {
				display: none;
			}
		}
		&:nth-child(3n+2) {
			.col-md-12 { order: 0; }
			.col-md-1 { order: 1; }
			.col-md-3 {
				order: 2;
				&:before {
					margin-left: 50rem;
				}
			}
			.col-md-5 { 
				order: 3;
				padding-right: 0;
				padding-left: 2.5rem;
			}
			.col-md-3 + .col-md-3 { order: 4; }
		}
		&:nth-child(3n+3) {
			.col-md-12 { order: 0; }
			.col-md-1 { order: 1; }
			.col-md-3 {
				order: 3;
				&:before {
					margin-left: -55rem;
				}
			}
			.col-md-3 + .col-md-3 { order: 2; }
			.col-md-5 { 
				order: 4;
				padding-right: 0;
				padding-left: 2.5rem;
			}
		}
	}
}
.ca_company_investors {
	padding-top: 11rem;
	padding-bottom: 13.3333rem;
	background: #151515;
	h2 {
		font-size: 3.75rem;
		line-height: 0.7em;
		letter-spacing: 0.7px;
		margin-bottom: 4.58333rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		color: #0fbbd6;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		text-align: center;
		font-weight: 300;
		margin-top: 2rem;
		a {
			color: #fff;
			text-decoration: none;
			position: relative;
			display: inline-block;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: -0.5em;
				background: #0fbbd6;
			}
		}
	}
	.ca_slider_one {
		text-align: center;
		img {
			display: inline-block;
			width: auto !important;
			height: auto !important;
			max-width: 190px;
			max-height: 50px;
		}
	}
	.ca_slider_one_nav {
		margin-top: 2.08333rem;
		margin-bottom: 14.5833rem;
		button {
			font-size: 0;
			background: none;
			border: none;
			width: 1.66667rem;
			height: 1.66667rem;
			cursor: pointer;
		}
		.slick-prev {
			background: url('../img/arr_left.svg') center center no-repeat;
			background-size: 100%;
		}
		.slick-next {
			background: url('../img/arr_right.svg') center center no-repeat;
			background-size: 100%;
			float: right;
		}
	}
	.ca_slider_two {
		h3 {
			font-size: 1.83333rem;
			line-height: 2.66667rem;
			color: #7c8a97;
			margin-bottom: 0.666667rem;
		}
		p {
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			padding-left: 2.08333rem;
			text-align: left;
			position: relative;
			margin-top: 0;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0.8em;
				width: 1.25rem;
				height: 5px;
				margin-top: -2px;
				background: #f04840;
			}
		}
	}
	.ca_slider_two_nav {
		margin-top: 2.08333rem;
		button {
			font-size: 0;
			background: none;
			border: none;
			width: 1.66667rem;
			height: 1.66667rem;
			cursor: pointer;
		}
		.slick-prev {
			background: url('../img/arr_left.svg') center center no-repeat;
			background-size: 100%;
		}
		.slick-next {
			background: url('../img/arr_right.svg') center center no-repeat;
			background-size: 100%;
			float: right;
		}
	}
}