.ca_tech_simulation {
	.ca_simulation {
		.ca_scroll_down_button {
			display: block;
			position: fixed;
			left: 50%;
			bottom: 3.5rem;
			z-index: 1000;
			a {
				width: 4.16667rem;
				height: 4.16667rem;
				border: solid 1px #0fbbd6;
				display: block;
				position: relative;
				&:before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: solid 0.833333rem #0fbbd6;
					border-bottom: none;
					border-left: solid 0.416667rem transparent;
					border-right: solid 0.416667rem transparent;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -0.416667rem;
					margin-left: -0.416667rem;
				}
			}
			&.ca_btn_up {
				a {
					&:before {
						border-bottom: solid 0.833333rem #0fbbd6;
						border-top: none;
					}
				}
			}
		}
		.ca_screen_measure_0 {
			height: 200vh;
			height: 0;
		}
		.ca_screen_measure_1 {
			height: calc(200vh * 0.5);
		}
		.ca_screen_measure_3 {
			height: calc(450vh * 0.5);
			.ca_screen_part_2 {
				position: relative;
				width: 100%;
				height: 80%;
				top: 20%;
				left: 0;
			}
			.ca_screen_part_3 {
				position: relative;
				width: 100%;
				height: 70%;
				top: 30%;
				left: 0;
			}
		}
		.ca_screen_measure_2 {
			height: calc(400vh * 0.5);
			.ca_screen_part_2 {
				position: relative;
				width: 100%;
				height: 80%;
				top: 20%;
				left: 0;
			}
			.ca_screen_part_3 {
				position: relative;
				width: 100%;
				height: 70%;
				top: 30%;
				left: 0;
			}
		}
		.ca_screen_measure_4 {
			height: calc(600vh * 0.5);
			position: relative;
			/*.ca_screen_measure_4_r {
				height: 33.3333%;
			}
			.ca_screen_measure_5 {
				height: 33.3333%;
			}
			.ca_screen_measure_6 {
				height: 33.3333%;
			}*/
			.ca_screen_measure_7 {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		.ca_screen {
			display: block;
			position: fixed;
			width: 200vh;
			height: 100vh;
			top: 0;
			margin-left: -100vh;
			left: -200%;
			opacity: 0;
			> div, > svg {
				position: absolute;
			}
			&.ca_shown {
				left: 50%;
			}
		}
		.ca_screen_0 {
			background: url('../img/demo/bg0.jpg') center center no-repeat;
			background-size: 100% 100%;
			height: 0;
		}
		.ca_screen_1 {
			background: url('../img/demo/bg1.jpg') center center no-repeat;
			background-size: 100% 100%;
			font-size: 0.125vh;
			.el_1 {
				width: 200vh;
				height: 67.0108vh;
				height: 90vh;
				transform: translate(0, 0vh);
				top: 0;
				left: 0;
				.ca_el_arr_l {
					position: relative;
					animation: blink_move_left 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_arrs {
					.ca_el_arr_l {
						&:nth-child(1) {animation-delay: 0.2s;}
						&:nth-child(2) {animation-delay: 0.1s;}
						&:nth-child(3) {animation-delay: 0s;}
					}
				}
				.ca_el_blink {
					animation: blink 0.9s;
					animation-iteration-count: infinite;
				}
			}
		}
		.ca_screen_2 {
			background: url('../img/demo/bg3.jpg') center center no-repeat;
			background-size: 100% 100%;
			font-size: 0.125vh;
			&.ca_shown {
				left: auto;
				right: 0;
			}
			.el_1 {
				width: 85.2303vh;
				height: 31.9246vh;
				top: 30vh;
				left: 114.5vh;
				.ca_el_arr_up {
					position: relative;
					animation: blink_move_up 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_arr_down {
					position: relative;
					animation: blink_move_down 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_blink {
					animation: blink 0.75s;
					animation-iteration-count: infinite;
				}
				.ca_el_round {
					opacity: 0.5;
				}
			}
		}
		.ca_screen_3 {
			background: url('../img/demo/bg2.jpg') center center no-repeat;
			//background: url('../img/demo/overlay/bg3.jpg') center center no-repeat;
			background-size: 100% 100%;
			font-size: 0.125vh;
			.el_1 {//width="1013.849" height="464.25"
				transform: scale(0.8, 0.8);
				width: 69.9206vh;
				height: 32.7069vh;
				top: 25vh;
				left: 41vh;
				.ca_el_arrleft {
					.ca_el_arr {
						position: relative;
						animation: blink_move_left 1s;
						animation-iteration-count: infinite;
						&:nth-child(1) {animation-delay: 0.2s;}
						&:nth-child(2) {animation-delay: 0.1s;}
						&:nth-child(3) {animation-delay: 0s;}
					}
				}
				.ca_el_arrdwn {
					position: relative;
					animation: blink_move_down 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_arrup {
					position: relative;
					animation: blink_move_up 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_blink {
					animation: blink 0.9s;
					animation-iteration-count: infinite;
				}
				.ca_el_circle1 > path {
					animation: rotate_-45 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 147% 106.2%;
				}
				.ca_el_circle_blue > path {
					animation: rotate_135 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 147% 106.2%;
				}
				.ca_el_circle2 > path {
					animation: rotate_0 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 147% 106.2%;
				}
				.ca_el_curve2 {
					opacity: 0.5;
				}
			}
			.el_2 {//width="902.65" height="572.062"
				transform: scale(0.8, 0.8);
				width: 62.2517vh;
				height: 40.1422vh;
				top: 6vh;
				left: 98vh;
				.ca_el_blink {
					animation: blink 0.9s;
					animation-iteration-count: infinite;
				}
				.ca_el_arrdown1 {
					position: relative;
					animation: blink_move_down 1s;
					animation-iteration-count: infinite;
				}
				.ca_el_arrright {
					.ca_el_arr-1 {
						position: relative;
						animation: blink_move_up 1s;
						animation-iteration-count: infinite;
					}
					.ca_el_arr-2 {
						position: relative;
						animation: blink_move_down 1s;
						animation-iteration-count: infinite;
					}
				}
				.ca_el_arrtop {
					.ca_el_arr {
						position: relative;
						animation: blink_move_up 1s;
						animation-iteration-count: infinite;
						&:nth-child(1){animation-delay: 0.3s;}
						&:nth-child(2){animation-delay: 0.2s;}
						&:nth-child(3){animation-delay: 0.1s;}
						&:nth-child(4){animation-delay: 0s;}
					}
				}
				.ca_el_circleinner > path {
					animation: rotate_-45 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 288.5% 62.2%;
				}
				.ca_el_circleblue > path {
					animation: rotate_135 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 288.5% 62.2%;
				}
				.ca_el_circleout > path {
					animation: rotate_0 8s linear;
					animation-iteration-count: infinite;
					animation-delay: 0s;
					transform-origin: 288.5% 62.2%;
				}
			}
		}
		.ca_screen_4 {
			background: url('../img/demo/bg4.jpg') center center no-repeat;
			background: url('../img/demo/bg5.jpg') center center no-repeat;
			background-size: 100% 100%;
			font-size: 0.125vh;
		}
		/*.ca_screen_5 {
			background: url('../img/demo/bg5.jpg') center center no-repeat;
			background-size: 100% 100%;
		}
		.ca_screen_6 {
			background: url('../img/demo/bg6.jpg') center center no-repeat;
			background-size: 100% 100%;
		}*/
		.ca_screen_4 {
			font-size: 0.125vh;
			.el_1 {
				width: 145.966vh;
				height: 81.009vh;
				top: 0;
				left: -8vh;
				transform-origin: 70.437956% 79.638752%;
				&.el_emergency {
					transform-origin: 62.408759% 70.443349%;
				}
				&#ca_group_1 {
					transform-origin: 77.463503% 70.443349%;
					transform: scale(1.2, 1.2);
				}
				.ca_el_white_round {
					.ca_el_round {
						animation: rotate_360 4s linear;
						animation-iteration-count: infinite;
						transform-origin: 62.35% 70.3%;
					}
				}
				.ca_el_red_round {
					.ca_el_round {
						animation: rotate_360 4s linear;
						animation-iteration-count: infinite;
						transform-origin: 77.445% 70.5%;
					}
				}
				.ca_el_arr {
					.ca_el_arr_dwn {
						position: relative;
						animation: blink_move_down 1s;
						animation-iteration-count: infinite;
					}
					.ca_el_arr_up {
						position: relative;
						animation: blink_move_up 1s;
						animation-iteration-count: infinite;
					}
				}
			}
		}
	}
}