.ca_home_top {
	padding-top: 20.4167rem;
	padding-bottom: 20rem;
	background: url('../img/hero_placeholder.png') center center no-repeat;
	background-size: cover;
	h1 {
		font-size: 4.58333rem;
		line-height: 5.41667rem;
		letter-spacing: 0.0666667rem;
		margin-bottom: 3.33333rem;
	}
	h2 {
		font-family: 'Montserrat';
		font-weight: 600;
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		color: #7c8a97;
		margin-bottom: 2.25rem;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		padding-right: 2rem;
	}
	.ca_arrow {
		display: none;
	}
}
.ca_home_vision {
	padding-top: 17.5rem;
	padding-bottom: 17.5rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	.ca_home_vision_paralax {
		position: absolute;
		width: 150%;
		height: 150%;
		top: -25%;
		left: -25%;
		background: url('../img/home_vision_bg.png') center center no-repeat;
		background-size: cover;
		z-index: 0;
	}
	.ca_home_vision_paralax_probe {
		opacity: 0;
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 200%;
		top: 0;
		left: 0;
	}
	* {
		position: relative;
		z-index: 1;
	}
	h2 {
		font-size: 3.75rem;
		line-height: 5.41667rem;
		letter-spacing: 0.05rem;
		margin-bottom: 3rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.91667rem;
		margin-bottom: 2.5rem;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		padding: 0 4rem;
	}
}
.ca_home_techs {
	overflow: hidden;
	padding-top: 5.83333rem;
	padding-bottom: 2.58333rem;
	background: #1b1b1b;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 66.6667rem;
		height: 43.5833rem;
		background: url('../img/dots_bg.png') center center no-repeat;
		background-size: 100%;
		left: 50%;
		top: 0;
		margin-left: -28rem;
		margin-top: -5.25rem;
		z-index: 0;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 60.8rem;
		height: 39.75rem;
		background: url('../img/dots_bg.png') center center no-repeat;
		background-size: 100%;
		left: 50%;
		bottom: 0;
		margin-left: -91rem;
		margin-bottom: 2rem;
		z-index: 0;
	}
	.container, .row {
		position: relative;
		z-index: 1;
	}
	h2 {
		font-size: 3.75rem;
		line-height: 5.41667rem;
		letter-spacing: 0.05rem;
		margin-top: 7.83333rem;
		margin-bottom: 2.33333rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		color: #0fbbd6;
		margin-bottom: 2.83333rem;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		margin-bottom: 3.75rem;
	}
	.ca_tech_bubble {
		padding: 3.33333rem;
		background: #151515;
		margin-bottom: 4.16667rem;
		position: relative;
		top: 0;
		transition: all 0.3s;
		* {
			z-index: 1;
			position: relative;
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: calc(50vw - 15px);
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			background: #151515;
			box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0,0,0,0.56);
			transition: all 0.3s;
		}
		&:hover {
			top: -0.5rem;
			&:before {
				box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0,0,0,0.56);
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.ca_num {
			font-family: 'Montserrat';
			font-weight: 600;
			font-size: 1.25rem;
			letter-spacing: 0.0166667rem;
			color: #f04840;
			margin-bottom: 0.5rem;
		}
		.img {
			float: left;
			width: 2.78333rem;
			height: 2.68333rem;
			margin-right: 0.833333rem;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		h3 {
			font-family: 'Lato';
			font-weight: 300;
			font-size: 3.16667rem;
			letter-spacing: 0.05rem;
			color: #fff;
			margin-bottom: 0.833333rem;
		}
		a.ca_more {
			clear: both;
			float: right;
			font-family: 'Montserrat';
			font-weight: 500;
			font-size: 1.25rem;
			color: #0fbbd6;
			text-decoration: none;
			position: relative;
			z-index: 1;
		}
		p {
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			margin-bottom: 0;
			position: relative;
			z-index: 0;
			width: 75%;
		}
	}
}
.ca_home_company {
	padding-top: 11.4167rem;
	padding-bottom: 10.9167rem;
	background: #151515;
	overflow: hidden;
	h2 {
		font-size: 3.75rem;
		line-height: 5.41667rem;
		letter-spacing: 0.05rem;
		margin-bottom: 1.83333rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		margin-bottom: 2.5rem;
		color: #0fbbd6;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		margin-bottom: 1.91667rem;
	}
	.img {
		//width: 5.5rem;
		width: 50vw;
		padding-left: calc(5.5rem + 15px - 7px);
		height: 31.25rem;
		background-size: cover;
		box-sizing: content-box;
	}
}

@media(min-width: 768px) {
	.ca_home_top {
		padding-top: calc(20.4167rem * 1.5);
		padding-bottom: calc(20rem * 1.8);
	}
	.ca_home_vision {
		padding-top: calc(17.5rem * 1.8);
		padding-bottom: calc(17.5rem * 1.8);
	}
	.ca_home_techs {
		padding-top: calc(5.83333rem * 1.8);
		padding-bottom: calc(2.58333rem * 1.8);
	}
	.ca_home_company {
		padding-top: calc(11.4167rem * 1.8);
		padding-bottom: calc(10.9167rem * 1.8);
	}
}