.ca_tech_top {
	background-image: url('../img/tech_hero.png');
	padding-top: 15.4167rem;
	padding-bottom: 4.58333rem;
	position: relative;
	.ca_video_container {
		&:before {
			opacity: 0.5;
		}
		video {
			min-width: 200%;
			min-height: 200%;
			margin-top: 5%;
		}
	}
	p {
		margin-bottom: 1.66667rem;
	}
	h2 {
		font-style: italic;
		padding-right: 2rem;
		span {
			display: block;
			font-size: 1.25rem;
			padding-top: 0.5rem;
		}
	}
}
.ca_tech_layers {
	padding-top: 6.5rem;
	background: #1b1b1b;
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 35rem;
		height: 39.75rem;
		background: url('../img/dots_bg.png') center center no-repeat;
		background-size: cover;
		left: 50%;
		top: 0;
		margin-left: -14rem;
		margin-top: -5.25rem;
		z-index: 0;
		opacity: 0.35;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 35rem;
		height: 39.75rem;
		background: url('../img/dots_bg.png') center center no-repeat;
		background-size: cover;
		left: 50%;
		top: 0;
		margin-left: 25rem;
		margin-top: 70rem;
		z-index: 0;
		opacity: 0.35;
	}
	h2 {
		font-size: 3.75rem;
		line-height: 5.41667rem;
		letter-spacing: 0.0583333rem;
		margin-bottom: 5.5rem;
		text-align: center;
	}
	.num {
		font-size: 1.25rem;
		letter-spacing: 0.0166667rem;
		color: #f04840;
		font-family: 'Montserrat';
		font-weight: 600;
		margin-bottom: 0.833333rem;
	}
	.img {
		width: 2.75rem;
		height: 2.75rem;
		float: left;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	h3 {
		font-family: 'Lato';
		font-weight: 300;
		font-size: 3.16667rem;
		letter-spacing: 0.05rem;
		padding-left: 3.583333rem;
		margin-bottom: 2.5rem;
		line-height: 0.7em;
	}
	h4 {
		color: #0fbbd6;
		font-family: 'Montserrat';
		font-size: 1.83333rem;
		font-weight: 500;
		margin-bottom: 1.33333rem;
		clear: both;
	}
	p {
		font-size: 1.33333rem;
		line-height: 2.16667rem;
		color: #fff;
		padding-right: 1rem;
	}
	.row {
		margin-bottom: 18.3333rem;
		&:first-child {
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 8.33333rem;
		}
	}
	.col-md-6 + .col-md-5 {
		h2, .num, .img, h3, h4, p {
			margin-left: 2rem;
		}
	}
	.ca_holder {
		padding: 3rem;
		padding-bottom: 0rem;
		background: #151515;
		position: relative;
		font-size: 0;
		text-align: center;
		top: 0;
		transition: all 0.3s;
		&:before {
			position: absolute;
			content: '';
			display: block;
			left: 0;
			top: 0;
			width: calc(50vw - 15px);
			height: 100%;
			background: #151515;
			z-index: 0;
			box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0,0,0,0.56);
			transition: all 0.3s;
		}
		&:hover {
			top: -0.5rem;
			&:before {
				box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0,0,0,0.56);
			}
		}
		* {
			z-index: 1;
			position: relative;
		}
		.ca_item {
			display: inline-block;
			text-align: center;
			vertical-align: top;
			margin-bottom: 3rem;
			.img {
				width: 3.33333rem;
				height: 3.33333rem;
				display: inline-block;
				float: none;
				margin-bottom: 1.41667rem;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			p {
				display: inline-block;
				width: 100%;
				margin-bottom: 0;
				display: block;
				padding: 0 1rem;
			}
		}
		&.ca_2_2 {
			.ca_item {
				width: 50%;
				padding: 0 2rem;
			}
		}
		&.ca_3_3 {
			&:before {
				left: auto;
				right: 0;
			}
			.ca_item {
				width: 33.333333%;
			}
		}
		&.ca_3_2 {
			padding-right: 0;
			.ca_item {
				width: 35%;
				&:nth-child(3) {
					width: 29%;
				}
			}
		}
	}
}

.ca_tech_simulation {
	.ca_pre_simulation {
		min-height: 100vh;
		//background: url('../img/tech_heli_bg.jpg') center center no-repeat;
		background: url('../img/demo/bg0.jpg') center center no-repeat;
		background-size: cover;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.65);
		}
		.container {
			padding-top: 21.25rem;
			padding-bottom: 21.25rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		h2 {
			text-align: center;
			font-size: 3.75rem;
			line-height: 5.41667rem;
			letter-spacing: 0.0583333rem;
			margin-bottom: 1rem;
		}
		h3 {
			font-size: 1.83333rem;
			line-height: 2.91667rem;
			color: #fff;
			text-align: center;
			margin-bottom: 2.25rem;
		}
		.ca_arrow {
			width: 4.16667rem;
			height: 4.16667rem;
			border: solid 1px #0fbbd6;
			display: block;
			position: relative;
			left: 50%;
			margin-left: -2.08333rem;
			z-index: 1000;
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: solid 0.833333rem #0fbbd6;
				border-bottom: none;
				border-left: solid 0.416667rem transparent;
				border-right: solid 0.416667rem transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -0.416667rem;
				margin-left: -0.416667rem;
			}
			a {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
	.ca_simulation {
		//height: 58.3333rem;
		//background: url('../img/tech_sim_placeholder.jpg') center center no-repeat;
		//background-size: cover;
	}
}
.ca_tech_video_placeholder {
	height: 80vh;
	position: relative;
	.ca_arrow {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 3.5rem;
		z-index: 1000;
		a {
			width: 4.16667rem;
			height: 4.16667rem;
			border: solid 1px #0fbbd6;
			display: block;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
					border-bottom: solid 0.833333rem #0fbbd6;
					border-top: none;
				border-left: solid 0.416667rem transparent;
				border-right: solid 0.416667rem transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -0.416667rem;
				margin-left: -0.416667rem;
			}
		}
	}
}
.ca_tech_video {
	padding-top: 13.0833rem;
	padding-bottom: 13.0833rem;
	h2 {
		font-size: 3.75rem;
		line-height: 5.41667rem;
		letter-spacing: 0.0.583333rem;
		margin-bottom: 1.41667rem;
	}
	h3 {
		font-size: 1.83333rem;
		line-height: 2.66667rem;
		color: #0fbbd6;
		margin-bottom: 2.5rem;
	}
	.img {
		display: inline-block;
		width: 5.83333rem;
		margin-right: 6.66667rem;
		img {
			max-width: 5.41667rem;
			max-height: 5.41667rem;
			display: block;
			margin-bottom: 0.833333rem;
		}
		p {
			font-size: 1rem;
			line-height: 2.16667rem;
			color: #7c8a97;
			font-family: 'Open Sans';
			font-weight: 500;
			text-align: center;
		}
	}
	.ca_video_holder {
		display: block;
		width: 100%;
		position: relative;
		.ca_video {
			height: 32.0833rem;
		}
		p {
			position: absolute;
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			display: block;
			bottom: 2.08333rem;
			transform: translate(-150%, 0);
			&:before {
				content: '';
				display: block;
				width: 150%;
				height: 2px;
				background: #fff;
				left: 0;
				bottom: -2px;
				position: absolute;
				opacity: 0.6;
			}
		}
	}
}