@import 'rembase';
@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:400,500,600|Open+Sans:400,600');

* {
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

body {
	font-family: 'Montserrat';
	background: #151515;
	color: #fefefe;
}

h1, h2 {
	font-family: 'Lato';
}

h3 {
	font-family: 'Montserrat';
	font-weight: 600;
}

p {
	font-family: 'Open Sans';
	font-weight: 400;
}

.ca_video_container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
	video {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.75);
		left: 0;
		top: 0;
		z-index: 1;
	}
}

.ca_button {
	display: inline-block;
	background: none;
	text-align: center;
	padding: 1.16667rem 2.5rem;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 1.25rem;
	color: #fff;
	background: #1b1b1b;
	text-decoration: none;
	border: solid 1px #0fbbd6;
	box-shadow: 0rem 1.3rem 0.9rem -1rem rgba(0,0,0,0.56);
	transition: all 0.3s;
	position: relative;
	top: 0;
	&:hover {
		text-decoration: none;
		background-color: #0fbbd6 !important;
		color: #fff;
		top: -2px;
	}
}

.ca_top_menu {
	padding-top: 4.25rem;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	.ca_logo {
		display: block;
		img {
			width: auto;
			height: 2.5rem;
		}
	}
	.ca_burger {
		display: none;
	}
	ul {
		display: block;
		font-size: 0;
		text-align: right;
		margin: 0;
		padding: 0;
		line-height: 2.5rem;
		&:before {
			content: '';
			display: inline-block;
			width: 0;
			height: 100%;
			vertical-align: bottom;
		}
		li {
			display: inline-block;
			margin-right: 3.95rem;
			line-height: 0.7em;
			vertical-align: bottom;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-size: 1.25rem;
				line-height: 2.16667rem;
				color: #fff;
				text-decoration: none;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 2px;
					background: #fff;
					left: 0;
					bottom: -0.5em;
					transition: width 0.3s;
				}
				&:hover {
					&:before {
						width: 2em;
					}
				}
			}
		}
	}
	.ca_top_menu_bullets {
		height: 0;
		.row {
			.col-12 {
				width: 0;
				height: 100%;
				ul {
					position: fixed;
					top: 50%;
					left: 50%;
					margin-left: calc(-50rem + 15px);
					transform: translate(0, -50%);
					z-index: 0;
					li {
						font-size: 0.916667rem;
						color: #9ca8b3;
						font-family: 'Open Sans';
						font-weight: 600;
						display: block;
						text-align: left;
						margin-bottom: 3.33333rem;
						margin-right: 0;
						position: relative;
						span+span {
							display: block;
							transform: scale(1, 0);
							transition: all 0.3s;
						}
						&.ca_active {
							span+span {
								transform: scale(1, 1);
							}
							&:before {
								background: #fff;
							}
						}
						&:before {
							content: '';
							display: block;
							width: 5px;
							height: 5px;
							border-radius: 5px;
							border: solid 1px #0fbbd6;
							position: absolute;
							top: 50%;
							margin-top: -2px;
							left: -8px;
						}
						&:after {
							content: '';
							font-size: 28px;
							display: block;
							position: absolute;
							width: 1px;
							height: 3.6rem;
							background: #fff;
							top: 50%;
							margin-top: 3px;
							left: -6px;
						}
						.ca_dots {
							display: block;
							width: 3px;
							height: 3px;
							border-radius: 3px;
							background: #fff;
							position: absolute;
							left: -7px;
							top: 0.95rem;
							&:before {
								content: '';
								display: block;
								width: 3px;
								height: 3px;
								border-radius: 3px;
								background: #fff;
								position: absolute;
								left: 0;
								top: 1.2rem;
							}
							&:after {
								content: '';
								display: block;
								width: 3px;
								height: 3px;
								border-radius: 3px;
								background: #fff;
								position: absolute;
								left: 0;
								top: 2.4rem;
							}
						}
						&:last-child {
							margin-bottom: 0;
							&:after {
								display: none;
							}
							.ca_dots {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.ca_contact_form {
	position: fixed;
	background: rgba(124, 138, 151, 0.75);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	transition: opacity 0.3s ease 0s, left 0s ease 0s;
	overflow: auto;
	.container {
		background: #1b1b1b;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		padding: 5rem 7.08333rem;
		.ca_static {
			position: static;
			a.ca_close_form {
				position: absolute;
				display: block;
				width: 2.16667rem;
				height: 2.16667rem;
				top: 3.33333rem;
				right: 3.33333rem;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: #7c8a97;
					position: absolute;
					top: 50%;
					transform: rotate(45deg);
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: #7c8a97;
					position: absolute;
					top: 50%;
					transform: rotate(-45deg);
				}
			}
		}
		h2 {
			font-size: 3.75rem;
			line-height: 5.41667rem;
			letter-spacing: 0.0583333rem;
			margin-bottom: 1.08333rem;
		}
		h3 {
			font-size: 1.83333rem;
			line-height: 2.66667rem;
			color: #0fbbd6;
		}
		p, .wpcf7-not-valid-tip, .wpcf7-response-output {
			margin: 0;
			padding: 0;
			font-size: 1.25rem;
			line-height: 2.16667rem;
			color: #7c8a97;
			margin-bottom: 0.25rem;
		}
		.wpcf7-not-valid-tip {
			color: #ff4545;
			position: absolute;
			left: 0;
		}
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 4.16667rem;
			line-height: 4.16667rem;
			background: #151515;
			border: none;
			padding: 0 1.41667rem;
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			color: #fff;
			&[type="submit"] {
				max-width: 15.8333rem;
				background: #1b1b1b;
				border: solid 1px #0fbbd6;
				cursor: pointer;
			}
		}
		textarea {
			width: 100%;
			height: 11.9167rem;
			line-height: 4.16667rem;
			background: #151515;
			border: none;
			padding: 0 1.41667rem;
			font-size: 1.33333rem;
			line-height: 2.16667rem;
			color: #fff;
		}
		.wpcf7-response-output {
			position: absolute;
			left: 0;
			bottom: -4em;
			padding: 0.5em;
		}
		.ca_group {
			margin-bottom: 3.33333rem;
			font-size: 0;
			&:last-child {
				margin-bottom: 0;
			}
			.ca_half {
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 50%;
				padding-right: 0.416667rem;
				.wpcf7-not-valid-tip {
					left: 0;
					bottom: -3em;
				}
				&:last-child {
					padding-right: 0;
					padding-left: 0.416667rem;
					.wpcf7-not-valid-tip {
						left: 0.416667rem;
					}
				}
			}
		}
	}
	&.ca_hidden {
		opacity: 0;
		left: -100%;
		transition: opacity 0.3s ease 0s, left 0s ease 0.3s;
	}
}

.ca_footer {
	background: #000;
	padding-top: 6rem;
	padding-bottom: 1.66667rem;
	.ca_logo {
		img {
			width: 8.91667rem;
			height: auto;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			display: block;
			a {
				font-size: 1.33333rem;
				line-height: 3.16667rem;
				color: #fff;
				font-family: 'Open Sans';
				font-weight: 400;
			}
		}
	}
	h3 {
		font-family: 'Open Sans';
		font-weight: 400;
		color: #f04840;
		font-size: 1.33333rem;
		line-height: 3.16667rem;
	}
	p {
		font-size: 1.16667rem;
		line-height: 1.83333rem;
		color: #fff;
	}
	.ca_social {
		text-decoration: none;
		margin-right: 2.66667rem;
		span.fab, span.fa {
			font-size: 1.5rem;
			color: #fff;
		}
	}
	p.ca_copyright {
		padding-top: 3.16667rem;
		margin: 0;
		font-family: 'Lato';
		font-weight: 300;
		color: #0fbbd6;
		font-size: 1rem;
		text-align: center;
	}
}

@import 'home';
@import 'tech';
@import 'demo';
@import 'anim';
@import 'company';
@import 'careers';
@import '404';
@import 'responsive/style';
@import 'responsive/home';
@import 'responsive/tech';
@import 'responsive/company';
@import 'responsive/careers';
@import 'responsive/404';