@import url("https://fonts.googleapis.com/css?family=Lato:300|Montserrat:400,500,600|Open+Sans:400,600");
@media (max-width: 575px) {
  html {
    font-size: 1.1vw; } }

@media (min-width: 576px) {
  html {
    font-size: 5.4px; } }

@media (min-width: 768px) {
  html {
    font-size: 7.2px; } }

@media (min-width: 992px) {
  html {
    font-size: 9.6px; } }

@media (min-width: 1200px) {
  html {
    font-size: 11.4px; } }

* {
  margin: 0;
  padding: 0; }

input:focus {
  outline: none; }

body {
  font-family: 'Montserrat';
  background: #151515;
  color: #fefefe; }

h1, h2 {
  font-family: 'Lato'; }

h3 {
  font-family: 'Montserrat';
  font-weight: 600; }

p {
  font-family: 'Open Sans';
  font-weight: 400; }

.ca_video_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0; }
  .ca_video_container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0; }
  .ca_video_container:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    left: 0;
    top: 0;
    z-index: 1; }

.ca_button {
  display: inline-block;
  background: none;
  text-align: center;
  padding: 1.16667rem 2.5rem;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  background: #1b1b1b;
  text-decoration: none;
  border: solid 1px #0fbbd6;
  -webkit-box-shadow: 0rem 1.3rem 0.9rem -1rem rgba(0, 0, 0, 0.56);
  box-shadow: 0rem 1.3rem 0.9rem -1rem rgba(0, 0, 0, 0.56);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  top: 0; }
  .ca_button:hover {
    text-decoration: none;
    background-color: #0fbbd6 !important;
    color: #fff;
    top: -2px; }

.ca_top_menu {
  padding-top: 4.25rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; }
  .ca_top_menu .ca_logo {
    display: block; }
    .ca_top_menu .ca_logo img {
      width: auto;
      height: 2.5rem; }
  .ca_top_menu .ca_burger {
    display: none; }
  .ca_top_menu ul {
    display: block;
    font-size: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 2.5rem; }
    .ca_top_menu ul:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: bottom; }
    .ca_top_menu ul li {
      display: inline-block;
      margin-right: 3.95rem;
      line-height: 0.7em;
      vertical-align: bottom; }
      .ca_top_menu ul li:last-child {
        margin-right: 0; }
      .ca_top_menu ul li a {
        font-size: 1.25rem;
        line-height: 2.16667rem;
        color: #fff;
        text-decoration: none;
        position: relative; }
        .ca_top_menu ul li a:before {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 2px;
          background: #fff;
          left: 0;
          bottom: -0.5em;
          -webkit-transition: width 0.3s;
          -o-transition: width 0.3s;
          transition: width 0.3s; }
        .ca_top_menu ul li a:hover:before {
          width: 2em; }
  .ca_top_menu .ca_top_menu_bullets {
    height: 0; }
    .ca_top_menu .ca_top_menu_bullets .row .col-12 {
      width: 0;
      height: 100%; }
      .ca_top_menu .ca_top_menu_bullets .row .col-12 ul {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: calc(-50rem + 15px);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 0; }
        .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li {
          font-size: 0.916667rem;
          color: #9ca8b3;
          font-family: 'Open Sans';
          font-weight: 600;
          display: block;
          text-align: left;
          margin-bottom: 3.33333rem;
          margin-right: 0;
          position: relative; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li span + span {
            display: block;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            transform: scale(1, 0);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li.ca_active span + span {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1); }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li.ca_active:before {
            background: #fff; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li:before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            border: solid 1px #0fbbd6;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            left: -8px; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li:after {
            content: '';
            font-size: 28px;
            display: block;
            position: absolute;
            width: 1px;
            height: 3.6rem;
            background: #fff;
            top: 50%;
            margin-top: 3px;
            left: -6px; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li .ca_dots {
            display: block;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background: #fff;
            position: absolute;
            left: -7px;
            top: 0.95rem; }
            .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li .ca_dots:before {
              content: '';
              display: block;
              width: 3px;
              height: 3px;
              border-radius: 3px;
              background: #fff;
              position: absolute;
              left: 0;
              top: 1.2rem; }
            .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li .ca_dots:after {
              content: '';
              display: block;
              width: 3px;
              height: 3px;
              border-radius: 3px;
              background: #fff;
              position: absolute;
              left: 0;
              top: 2.4rem; }
          .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li:last-child {
            margin-bottom: 0; }
            .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li:last-child:after {
              display: none; }
            .ca_top_menu .ca_top_menu_bullets .row .col-12 ul li:last-child .ca_dots {
              display: none; }

.ca_contact_form {
  position: fixed;
  background: rgba(124, 138, 151, 0.75);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.3s ease 0s, left 0s ease 0s;
  -o-transition: opacity 0.3s ease 0s, left 0s ease 0s;
  transition: opacity 0.3s ease 0s, left 0s ease 0s;
  overflow: auto; }
  .ca_contact_form .container {
    background: #1b1b1b;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 5rem 7.08333rem; }
    .ca_contact_form .container .ca_static {
      position: static; }
      .ca_contact_form .container .ca_static a.ca_close_form {
        position: absolute;
        display: block;
        width: 2.16667rem;
        height: 2.16667rem;
        top: 3.33333rem;
        right: 3.33333rem; }
        .ca_contact_form .container .ca_static a.ca_close_form:before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #7c8a97;
          position: absolute;
          top: 50%;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .ca_contact_form .container .ca_static a.ca_close_form:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #7c8a97;
          position: absolute;
          top: 50%;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .ca_contact_form .container h2 {
      font-size: 3.75rem;
      line-height: 5.41667rem;
      letter-spacing: 0.0583333rem;
      margin-bottom: 1.08333rem; }
    .ca_contact_form .container h3 {
      font-size: 1.83333rem;
      line-height: 2.66667rem;
      color: #0fbbd6; }
    .ca_contact_form .container p, .ca_contact_form .container .wpcf7-not-valid-tip, .ca_contact_form .container .wpcf7-response-output {
      margin: 0;
      padding: 0;
      font-size: 1.25rem;
      line-height: 2.16667rem;
      color: #7c8a97;
      margin-bottom: 0.25rem; }
    .ca_contact_form .container .wpcf7-not-valid-tip {
      color: #ff4545;
      position: absolute;
      left: 0; }
    .ca_contact_form .container form {
      position: relative; }
    .ca_contact_form .container input {
      width: 100%;
      height: 4.16667rem;
      line-height: 4.16667rem;
      background: #151515;
      border: none;
      padding: 0 1.41667rem;
      font-size: 1.33333rem;
      line-height: 2.16667rem;
      color: #fff; }
      .ca_contact_form .container input[type="submit"] {
        max-width: 15.8333rem;
        background: #1b1b1b;
        border: solid 1px #0fbbd6;
        cursor: pointer; }
    .ca_contact_form .container textarea {
      width: 100%;
      height: 11.9167rem;
      line-height: 4.16667rem;
      background: #151515;
      border: none;
      padding: 0 1.41667rem;
      font-size: 1.33333rem;
      line-height: 2.16667rem;
      color: #fff; }
    .ca_contact_form .container .wpcf7-response-output {
      position: absolute;
      left: 0;
      bottom: -4em;
      padding: 0.5em; }
    .ca_contact_form .container .ca_group {
      margin-bottom: 3.33333rem;
      font-size: 0; }
      .ca_contact_form .container .ca_group:last-child {
        margin-bottom: 0; }
      .ca_contact_form .container .ca_group .ca_half {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 50%;
        padding-right: 0.416667rem; }
        .ca_contact_form .container .ca_group .ca_half .wpcf7-not-valid-tip {
          left: 0;
          bottom: -3em; }
        .ca_contact_form .container .ca_group .ca_half:last-child {
          padding-right: 0;
          padding-left: 0.416667rem; }
          .ca_contact_form .container .ca_group .ca_half:last-child .wpcf7-not-valid-tip {
            left: 0.416667rem; }
  .ca_contact_form.ca_hidden {
    opacity: 0;
    left: -100%;
    -webkit-transition: opacity 0.3s ease 0s, left 0s ease 0.3s;
    -o-transition: opacity 0.3s ease 0s, left 0s ease 0.3s;
    transition: opacity 0.3s ease 0s, left 0s ease 0.3s; }

.ca_footer {
  background: #000;
  padding-top: 6rem;
  padding-bottom: 1.66667rem; }
  .ca_footer .ca_logo img {
    width: 8.91667rem;
    height: auto; }
  .ca_footer ul {
    margin: 0;
    padding: 0; }
    .ca_footer ul li {
      display: block; }
      .ca_footer ul li a {
        font-size: 1.33333rem;
        line-height: 3.16667rem;
        color: #fff;
        font-family: 'Open Sans';
        font-weight: 400; }
  .ca_footer h3 {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #f04840;
    font-size: 1.33333rem;
    line-height: 3.16667rem; }
  .ca_footer p {
    font-size: 1.16667rem;
    line-height: 1.83333rem;
    color: #fff; }
  .ca_footer .ca_social {
    text-decoration: none;
    margin-right: 2.66667rem; }
    .ca_footer .ca_social span.fab, .ca_footer .ca_social span.fa {
      font-size: 1.5rem;
      color: #fff; }
  .ca_footer p.ca_copyright {
    padding-top: 3.16667rem;
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    color: #0fbbd6;
    font-size: 1rem;
    text-align: center; }

.ca_home_top {
  padding-top: 20.4167rem;
  padding-bottom: 20rem;
  background: url("../img/hero_placeholder.png") center center no-repeat;
  background-size: cover; }
  .ca_home_top h1 {
    font-size: 4.58333rem;
    line-height: 5.41667rem;
    letter-spacing: 0.0666667rem;
    margin-bottom: 3.33333rem; }
  .ca_home_top h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #7c8a97;
    margin-bottom: 2.25rem; }
  .ca_home_top p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    padding-right: 2rem; }
  .ca_home_top .ca_arrow {
    display: none; }

.ca_home_vision {
  padding-top: 17.5rem;
  padding-bottom: 17.5rem;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .ca_home_vision .ca_home_vision_paralax {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    background: url("../img/home_vision_bg.png") center center no-repeat;
    background-size: cover;
    z-index: 0; }
  .ca_home_vision .ca_home_vision_paralax_probe {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0; }
  .ca_home_vision * {
    position: relative;
    z-index: 1; }
  .ca_home_vision h2 {
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0.05rem;
    margin-bottom: 3rem; }
  .ca_home_vision h3 {
    font-size: 1.83333rem;
    line-height: 2.91667rem;
    margin-bottom: 2.5rem; }
  .ca_home_vision p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    padding: 0 4rem; }

.ca_home_techs {
  overflow: hidden;
  padding-top: 5.83333rem;
  padding-bottom: 2.58333rem;
  background: #1b1b1b;
  position: relative; }
  .ca_home_techs:before {
    content: '';
    display: block;
    position: absolute;
    width: 66.6667rem;
    height: 43.5833rem;
    background: url("../img/dots_bg.png") center center no-repeat;
    background-size: 100%;
    left: 50%;
    top: 0;
    margin-left: -28rem;
    margin-top: -5.25rem;
    z-index: 0; }
  .ca_home_techs:after {
    content: '';
    display: block;
    position: absolute;
    width: 60.8rem;
    height: 39.75rem;
    background: url("../img/dots_bg.png") center center no-repeat;
    background-size: 100%;
    left: 50%;
    bottom: 0;
    margin-left: -91rem;
    margin-bottom: 2rem;
    z-index: 0; }
  .ca_home_techs .container, .ca_home_techs .row {
    position: relative;
    z-index: 1; }
  .ca_home_techs h2 {
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0.05rem;
    margin-top: 7.83333rem;
    margin-bottom: 2.33333rem; }
  .ca_home_techs h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #0fbbd6;
    margin-bottom: 2.83333rem; }
  .ca_home_techs p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    margin-bottom: 3.75rem; }
  .ca_home_techs .ca_tech_bubble {
    padding: 3.33333rem;
    background: #151515;
    margin-bottom: 4.16667rem;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ca_home_techs .ca_tech_bubble * {
      z-index: 1;
      position: relative; }
    .ca_home_techs .ca_tech_bubble:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(50vw - 15px);
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      background: #151515;
      -webkit-box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
      box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .ca_home_techs .ca_tech_bubble:hover {
      top: -0.5rem; }
      .ca_home_techs .ca_tech_bubble:hover:before {
        -webkit-box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
        box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56); }
    .ca_home_techs .ca_tech_bubble:last-child {
      margin-bottom: 0; }
    .ca_home_techs .ca_tech_bubble .ca_num {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 1.25rem;
      letter-spacing: 0.0166667rem;
      color: #f04840;
      margin-bottom: 0.5rem; }
    .ca_home_techs .ca_tech_bubble .img {
      float: left;
      width: 2.78333rem;
      height: 2.68333rem;
      margin-right: 0.833333rem; }
      .ca_home_techs .ca_tech_bubble .img img {
        max-width: 100%;
        max-height: 100%; }
    .ca_home_techs .ca_tech_bubble h3 {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 3.16667rem;
      letter-spacing: 0.05rem;
      color: #fff;
      margin-bottom: 0.833333rem; }
    .ca_home_techs .ca_tech_bubble a.ca_more {
      clear: both;
      float: right;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 1.25rem;
      color: #0fbbd6;
      text-decoration: none;
      position: relative;
      z-index: 1; }
    .ca_home_techs .ca_tech_bubble p {
      font-size: 1.33333rem;
      line-height: 2.16667rem;
      margin-bottom: 0;
      position: relative;
      z-index: 0;
      width: 75%; }

.ca_home_company {
  padding-top: 11.4167rem;
  padding-bottom: 10.9167rem;
  background: #151515;
  overflow: hidden; }
  .ca_home_company h2 {
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1.83333rem; }
  .ca_home_company h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    margin-bottom: 2.5rem;
    color: #0fbbd6; }
  .ca_home_company p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    margin-bottom: 1.91667rem; }
  .ca_home_company .img {
    width: 50vw;
    padding-left: calc(5.5rem + 15px - 7px);
    height: 31.25rem;
    background-size: cover;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

.ca_tech_top {
  background-image: url("../img/tech_hero.png");
  padding-top: 15.4167rem;
  padding-bottom: 4.58333rem;
  position: relative; }
  .ca_tech_top p {
    margin-bottom: 1.66667rem; }
  .ca_tech_top h2 {
    font-style: italic; }

.ca_tech_layers {
  padding-top: 6.5rem;
  background: #1b1b1b;
  overflow: hidden;
  position: relative; }
  .ca_tech_layers:before {
    content: '';
    display: block;
    position: absolute;
    width: 35rem;
    height: 39.75rem;
    background: url("../img/dots_bg.png") center center no-repeat;
    background-size: cover;
    left: 50%;
    top: 0;
    margin-left: -14rem;
    margin-top: -5.25rem;
    z-index: 0;
    opacity: 0.35; }
  .ca_tech_layers:after {
    content: '';
    display: block;
    position: absolute;
    width: 35rem;
    height: 39.75rem;
    background: url("../img/dots_bg.png") center center no-repeat;
    background-size: cover;
    left: 50%;
    top: 0;
    margin-left: 25rem;
    margin-top: 70rem;
    z-index: 0;
    opacity: 0.35; }
  .ca_tech_layers h2 {
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0.0583333rem;
    margin-bottom: 5.5rem;
    text-align: center; }
  .ca_tech_layers .num {
    font-size: 1.25rem;
    letter-spacing: 0.0166667rem;
    color: #f04840;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 0.833333rem; }
  .ca_tech_layers .img {
    width: 2.75rem;
    height: 2.75rem;
    float: left; }
    .ca_tech_layers .img img {
      max-width: 100%;
      max-height: 100%; }
  .ca_tech_layers h3 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 3.16667rem;
    letter-spacing: 0.05rem;
    padding-left: 3.583333rem;
    margin-bottom: 2.5rem;
    line-height: 0.7em; }
  .ca_tech_layers h4 {
    color: #0fbbd6;
    font-family: 'Montserrat';
    font-size: 1.83333rem;
    font-weight: 500;
    margin-bottom: 1.33333rem;
    clear: both; }
  .ca_tech_layers p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    color: #fff;
    padding-right: 1rem; }
  .ca_tech_layers .row {
    margin-bottom: 18.3333rem; }
    .ca_tech_layers .row:first-child {
      margin-bottom: 0; }
    .ca_tech_layers .row:last-child {
      margin-bottom: 8.33333rem; }
  .ca_tech_layers .col-md-6 + .col-md-5 h2, .ca_tech_layers .col-md-6 + .col-md-5 .num, .ca_tech_layers .col-md-6 + .col-md-5 .img, .ca_tech_layers .col-md-6 + .col-md-5 h3, .ca_tech_layers .col-md-6 + .col-md-5 h4, .ca_tech_layers .col-md-6 + .col-md-5 p {
    margin-left: 2rem; }
  .ca_tech_layers .ca_holder {
    padding: 3rem;
    padding-bottom: 0rem;
    background: #151515;
    position: relative;
    font-size: 0;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ca_tech_layers .ca_holder:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: calc(50vw - 15px);
      height: 100%;
      background: #151515;
      z-index: 0;
      -webkit-box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
      box-shadow: 0rem 2.4rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .ca_tech_layers .ca_holder:hover {
      top: -0.5rem; }
      .ca_tech_layers .ca_holder:hover:before {
        -webkit-box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56);
        box-shadow: 0rem 3rem 0.9rem -2.16667rem rgba(0, 0, 0, 0.56); }
    .ca_tech_layers .ca_holder * {
      z-index: 1;
      position: relative; }
    .ca_tech_layers .ca_holder .ca_item {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin-bottom: 3rem; }
      .ca_tech_layers .ca_holder .ca_item .img {
        width: 3.33333rem;
        height: 3.33333rem;
        display: inline-block;
        float: none;
        margin-bottom: 1.41667rem; }
        .ca_tech_layers .ca_holder .ca_item .img img {
          max-width: 100%;
          max-height: 100%; }
      .ca_tech_layers .ca_holder .ca_item p {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
        display: block;
        padding: 0; }
    .ca_tech_layers .ca_holder.ca_2_2 .ca_item {
      width: 50%;
      padding: 0 2rem; }
    .ca_tech_layers .ca_holder.ca_3_3:before {
      left: auto;
      right: 0; }
    .ca_tech_layers .ca_holder.ca_3_3 .ca_item {
      width: 33.333333%; }
    .ca_tech_layers .ca_holder.ca_3_2 {
      padding-right: 0; }
      .ca_tech_layers .ca_holder.ca_3_2 .ca_item {
        width: 35%; }
        .ca_tech_layers .ca_holder.ca_3_2 .ca_item:nth-child(3) {
          width: 29%; }

.ca_tech_simulation .ca_pre_simulation {
  padding-top: 21.25rem;
  padding-bottom: 21.25rem;
  background: url("../img/tech_heli_bg.jpg") center center no-repeat;
  background-size: cover; }
  .ca_tech_simulation .ca_pre_simulation h2 {
    text-align: center;
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0.0583333rem;
    margin-bottom: 1rem; }
  .ca_tech_simulation .ca_pre_simulation h3 {
    font-size: 1.83333rem;
    line-height: 2.91667rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2.25rem; }
  .ca_tech_simulation .ca_pre_simulation .ca_arrow {
    width: 4.16667rem;
    height: 4.16667rem;
    border: solid 1px #0fbbd6;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -2.08333rem; }
    .ca_tech_simulation .ca_pre_simulation .ca_arrow:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: solid 0.833333rem #0fbbd6;
      border-bottom: none;
      border-left: solid 0.416667rem transparent;
      border-right: solid 0.416667rem transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -0.416667rem;
      margin-left: -0.416667rem; }

.ca_tech_video_placeholder {
  height: 50vh; }

.ca_tech_video {
  padding-top: 13.0833rem;
  padding-bottom: 13.0833rem; }
  .ca_tech_video h2 {
    font-size: 3.75rem;
    line-height: 5.41667rem;
    letter-spacing: 0 0.58333rem;
    margin-bottom: 1.41667rem; }
  .ca_tech_video h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #0fbbd6;
    margin-bottom: 2.5rem; }
  .ca_tech_video .img {
    display: inline-block;
    width: 5.83333rem;
    margin-right: 6.66667rem; }
    .ca_tech_video .img img {
      max-width: 5.41667rem;
      max-height: 5.41667rem;
      display: block;
      margin-bottom: 0.833333rem; }
    .ca_tech_video .img p {
      font-size: 1rem;
      line-height: 2.16667rem;
      color: #7c8a97;
      font-family: 'Open Sans';
      font-weight: 500;
      text-align: center; }
  .ca_tech_video .ca_video_holder {
    display: block;
    width: 100%;
    position: relative; }
    .ca_tech_video .ca_video_holder .ca_video {
      height: 32.0833rem; }
    .ca_tech_video .ca_video_holder p {
      position: absolute;
      font-size: 1.33333rem;
      line-height: 2.16667rem;
      display: block;
      bottom: 2.08333rem;
      -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
      transform: translate(-150%, 0); }
      .ca_tech_video .ca_video_holder p:before {
        content: '';
        display: block;
        width: 150%;
        height: 2px;
        background: #fff;
        left: 0;
        bottom: -2px;
        position: absolute;
        opacity: 0.6; }

.ca_tech_simulation .ca_simulation .ca_screen_measure_0 {
  height: 200vh; }

.ca_tech_simulation .ca_simulation .ca_screen_measure_1 {
  height: 200vh; }

.ca_tech_simulation .ca_simulation .ca_screen_measure_2 {
  height: 450vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_2 .ca_screen_part_2 {
    position: relative;
    width: 100%;
    height: 80%;
    top: 20%;
    left: 0; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_2 .ca_screen_part_3 {
    position: relative;
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0; }

.ca_tech_simulation .ca_simulation .ca_screen_measure_3 {
  height: 400vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_3 .ca_screen_part_2 {
    position: relative;
    width: 100%;
    height: 80%;
    top: 20%;
    left: 0; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_3 .ca_screen_part_3 {
    position: relative;
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0; }

.ca_tech_simulation .ca_simulation .ca_screen_measure_4 {
  height: 600vh;
  position: relative; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_4 .ca_screen_measure_4_r {
    height: 33.3333%; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_4 .ca_screen_measure_5 {
    height: 33.3333%; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_4 .ca_screen_measure_6 {
    height: 33.3333%; }
  .ca_tech_simulation .ca_simulation .ca_screen_measure_4 .ca_screen_measure_7 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.ca_tech_simulation .ca_simulation .ca_screen {
  display: block;
  position: fixed;
  width: 200vh;
  height: 100vh;
  top: 0;
  margin-left: -100vh;
  left: -200%;
  opacity: 0; }
  .ca_tech_simulation .ca_simulation .ca_screen > div, .ca_tech_simulation .ca_simulation .ca_screen > svg {
    position: absolute; }

.ca_tech_simulation .ca_simulation .ca_screen_0 {
  background: url("../img/demo/bg0.jpg") center center no-repeat;
  background-size: 100% 100%; }

.ca_tech_simulation .ca_simulation .ca_screen_1 {
  background: url("../img/demo/bg1.jpg") center center no-repeat;
  background-size: 100% 100%;
  font-size: 0.125vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 {
    width: 200vh;
    height: 67.0108vh;
    top: 0;
    left: 0; }
    .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 .ca_el_arr_l {
      position: relative;
      -webkit-animation: blink_move_left 1s;
      animation: blink_move_left 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 .ca_el_arrs .ca_el_arr_l:nth-child(1) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 .ca_el_arrs .ca_el_arr_l:nth-child(2) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 .ca_el_arrs .ca_el_arr_l:nth-child(3) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    .ca_tech_simulation .ca_simulation .ca_screen_1 .el_1 .ca_el_blink {
      -webkit-animation: blink 0.3s;
      animation: blink 0.3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }

.ca_tech_simulation .ca_simulation .ca_screen_2 {
  background: url("../img/demo/bg2.jpg") center center no-repeat;
  background-size: 100% 100%;
  font-size: 0.125vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 {
    width: 69.9206vh;
    height: 32.7069vh;
    top: 19.6vh;
    left: 48.6vh; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrleft .ca_el_arr {
      position: relative;
      -webkit-animation: blink_move_left 1s;
      animation: blink_move_left 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrleft .ca_el_arr:nth-child(1) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrleft .ca_el_arr:nth-child(2) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrleft .ca_el_arr:nth-child(3) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrdwn {
      position: relative;
      -webkit-animation: blink_move_down 1s;
      animation: blink_move_down 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_arrup {
      position: relative;
      -webkit-animation: blink_move_up 1s;
      animation: blink_move_up 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_blink {
      -webkit-animation: blink 0.3s;
      animation: blink 0.3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_circle1 > path {
      -webkit-animation: rotate_-45 8s linear;
      animation: rotate_-45 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 147% 106.2%;
      -ms-transform-origin: 147% 106.2%;
      transform-origin: 147% 106.2%; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_circle_blue > path {
      -webkit-animation: rotate_135 8s linear;
      animation: rotate_135 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 147% 106.2%;
      -ms-transform-origin: 147% 106.2%;
      transform-origin: 147% 106.2%; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_circle2 > path {
      -webkit-animation: rotate_0 8s linear;
      animation: rotate_0 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 147% 106.2%;
      -ms-transform-origin: 147% 106.2%;
      transform-origin: 147% 106.2%; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_1 .ca_el_curve2 {
      opacity: 0.5; }
  .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 {
    width: 62.2517vh;
    height: 40.1422vh;
    top: 6vh;
    left: 135.5vh; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_blink {
      -webkit-animation: blink 0.3s;
      animation: blink 0.3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrdown1 {
      position: relative;
      -webkit-animation: blink_move_down 1s;
      animation: blink_move_down 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrright .ca_el_arr-1 {
      position: relative;
      -webkit-animation: blink_move_up 1s;
      animation: blink_move_up 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrright .ca_el_arr-2 {
      position: relative;
      -webkit-animation: blink_move_down 1s;
      animation: blink_move_down 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrtop .ca_el_arr {
      position: relative;
      -webkit-animation: blink_move_up 1s;
      animation: blink_move_up 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrtop .ca_el_arr:nth-child(1) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrtop .ca_el_arr:nth-child(2) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrtop .ca_el_arr:nth-child(3) {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_arrtop .ca_el_arr:nth-child(4) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_circleinner > path {
      -webkit-animation: rotate_-45 8s linear;
      animation: rotate_-45 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 288.5% 62.2%;
      -ms-transform-origin: 288.5% 62.2%;
      transform-origin: 288.5% 62.2%; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_circleblue > path {
      -webkit-animation: rotate_135 8s linear;
      animation: rotate_135 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 288.5% 62.2%;
      -ms-transform-origin: 288.5% 62.2%;
      transform-origin: 288.5% 62.2%; }
    .ca_tech_simulation .ca_simulation .ca_screen_2 .el_2 .ca_el_circleout > path {
      -webkit-animation: rotate_0 8s linear;
      animation: rotate_0 8s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-transform-origin: 288.5% 62.2%;
      -ms-transform-origin: 288.5% 62.2%;
      transform-origin: 288.5% 62.2%; }

.ca_tech_simulation .ca_simulation .ca_screen_3 {
  background: url("../img/demo/bg3.jpg") center center no-repeat;
  background-size: 100% 100%;
  font-size: 0.125vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_3 .el_1 {
    width: 85.2303vh;
    height: 31.9246vh;
    top: 30vh;
    left: 114.5vh; }
    .ca_tech_simulation .ca_simulation .ca_screen_3 .el_1 .ca_el_arr_up {
      position: relative;
      -webkit-animation: blink_move_up 1s;
      animation: blink_move_up 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_3 .el_1 .ca_el_arr_down {
      position: relative;
      -webkit-animation: blink_move_down 1s;
      animation: blink_move_down 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_3 .el_1 .ca_el_blink {
      -webkit-animation: blink 0.2s;
      animation: blink 0.2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_3 .el_1 .ca_el_round {
      opacity: 0.5; }

.ca_tech_simulation .ca_simulation .ca_screen_4 {
  background: url("../img/demo/bg4.jpg") center center no-repeat;
  background-size: 100% 100%;
  font-size: 0.125vh; }

.ca_tech_simulation .ca_simulation .ca_screen_5 {
  background: url("../img/demo/bg5.jpg") center center no-repeat;
  background-size: 100% 100%; }

.ca_tech_simulation .ca_simulation .ca_screen_6 {
  background: url("../img/demo/bg6.jpg") center center no-repeat;
  background-size: 100% 100%; }

.ca_tech_simulation .ca_simulation .ca_screen_7 {
  font-size: 0.125vh; }
  .ca_tech_simulation .ca_simulation .ca_screen_7 .el_1 {
    width: 145.966vh;
    height: 81.009vh;
    top: 0;
    left: 0; }
    .ca_tech_simulation .ca_simulation .ca_screen_7 .el_1 .ca_el_white_round .ca_el_round {
      -webkit-animation: rotate_360 4s linear;
      animation: rotate_360 4s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-transform-origin: 62.35% 70.3%;
      -ms-transform-origin: 62.35% 70.3%;
      transform-origin: 62.35% 70.3%; }
    .ca_tech_simulation .ca_simulation .ca_screen_7 .el_1 .ca_el_red_round .ca_el_round {
      -webkit-animation: rotate_360 4s linear;
      animation: rotate_360 4s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-transform-origin: 77.445% 70.5%;
      -ms-transform-origin: 77.445% 70.5%;
      transform-origin: 77.445% 70.5%; }
    .ca_tech_simulation .ca_simulation .ca_screen_7 .el_1 .ca_el_arr .ca_el_arr_dwn {
      position: relative;
      -webkit-animation: blink_move_down 1s;
      animation: blink_move_down 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    .ca_tech_simulation .ca_simulation .ca_screen_7 .el_1 .ca_el_arr .ca_el_arr_up {
      position: relative;
      -webkit-animation: blink_move_up 1s;
      animation: blink_move_up 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }

@-webkit-keyframes blink_move_left {
  0% {
    left: 10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    left: -10em;
    opacity: 0; }
  100% {
    left: -10em;
    opacity: 0; } }

@keyframes blink_move_left {
  0% {
    left: 10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    left: -10em;
    opacity: 0; }
  100% {
    left: -10em;
    opacity: 0; } }

@-webkit-keyframes blink_move_up {
  0% {
    top: 10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    top: -10em;
    opacity: 0; }
  100% {
    top: -10em;
    opacity: 0; } }

@keyframes blink_move_up {
  0% {
    top: 10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    top: -10em;
    opacity: 0; }
  100% {
    top: -10em;
    opacity: 0; } }

@-webkit-keyframes blink_move_down {
  0% {
    top: -10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    top: 10em;
    opacity: 0; }
  100% {
    top: 10em;
    opacity: 0; } }

@keyframes blink_move_down {
  0% {
    top: -10em;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    top: 10em;
    opacity: 0; }
  100% {
    top: 10em;
    opacity: 0; } }

@-webkit-keyframes blink {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

@keyframes blink {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

@-webkit-keyframes rotate_135 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); } }

@keyframes rotate_135 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); } }

@-webkit-keyframes rotate_-45 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes rotate_-45 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  10% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@-webkit-keyframes rotate_0 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate_0 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes rotate_360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate_360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.ca_company_top {
  font-size: 0;
  text-align: center;
  background: #1b1b1b; }
  .ca_company_top .col-md-10:before {
    content: '';
    display: block;
    position: absolute;
    left: 6.75rem;
    bottom: 0;
    width: 2px;
    background: #fff;
    height: 35.8333rem;
    opacity: 0.6; }
  .ca_company_top img {
    width: 64.6667rem;
    max-width: 100%;
    height: auto;
    display: inline-block; }
  .ca_company_top h1 {
    position: absolute;
    top: 14.5833rem;
    left: 15px;
    font-size: 4.58333rem;
    line-height: 5.41667rem;
    letter-spacing: 0.0666667rem; }

.ca_company_info {
  padding-top: 5.83333rem;
  padding-bottom: 9.16667rem;
  background: #1b1b1b; }
  .ca_company_info h2 {
    text-align: center;
    font-size: 3.16667rem;
    line-height: 5.41667rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2.5rem; }
  .ca_company_info h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #7c8a97;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0.25rem; }
  .ca_company_info h4 {
    font-family: 'Montserrat';
    color: #7c8a97;
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
    line-height: 2.66667rem;
    margin-bottom: 2.5rem; }
  .ca_company_info p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    margin-bottom: 2.5rem; }
    .ca_company_info p img {
      width: 100%;
      height: auto; }
  .ca_company_info .ca_arrow {
    display: none; }

.ca_comapny_members {
  padding-bottom: 11.6667rem;
  overflow: hidden;
  background: #1b1b1b; }
  .ca_comapny_members .row {
    margin-bottom: 11.6667rem; }
    .ca_comapny_members .row .col-md-5 {
      padding-right: 5.41667rem; }
    .ca_comapny_members .row h2 {
      text-align: center;
      font-size: 3.16667rem;
      line-height: 5.41667rem;
      letter-spacing: 0.05rem;
      margin-bottom: 8.75rem; }
    .ca_comapny_members .row h3 {
      font-size: 1.83333rem;
      line-height: 2.66667rem;
      color: #0fbbd6; }
    .ca_comapny_members .row h4 {
      font-family: 'Open Sans';
      font-size: 1rem;
      line-height: 2.16667rem;
      color: #7c8a97;
      padding-bottom: 7.08333rem;
      margin-bottom: 0;
      position: relative; }
      .ca_comapny_members .row h4:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 4.58333rem;
        background: #fff;
        bottom: 1.33333rem; }
    .ca_comapny_members .row p {
      font-size: 1.33333rem;
      line-height: 2.16667rem;
      margin-bottom: 0; }
    .ca_comapny_members .row img {
      width: auto;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 15px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    .ca_comapny_members .row .col-md-3 {
      overflow: hidden; }
      .ca_comapny_members .row .col-md-3:before {
        content: '';
        display: block;
        position: absolute;
        width: 35.0833rem;
        height: 39.75rem;
        background: url("../img/dots_bg.png") center center no-repeat;
        background-size: cover;
        left: 50%;
        top: 0;
        margin-left: 10rem;
        margin-top: 0rem;
        z-index: 0;
        opacity: 0.37; }
    .ca_comapny_members .row .col-md-3 + .col-md-3:beofre {
      display: none; }
    .ca_comapny_members .row:nth-child(3n+2) .col-md-12 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .ca_comapny_members .row:nth-child(3n+2) .col-md-1 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .ca_comapny_members .row:nth-child(3n+2) .col-md-3 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .ca_comapny_members .row:nth-child(3n+2) .col-md-3:before {
        margin-left: 50rem; }
    .ca_comapny_members .row:nth-child(3n+2) .col-md-5 {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      padding-right: 0;
      padding-left: 2.5rem; }
    .ca_comapny_members .row:nth-child(3n+2) .col-md-3 + .col-md-3 {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .ca_comapny_members .row:nth-child(3n+3) .col-md-12 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .ca_comapny_members .row:nth-child(3n+3) .col-md-1 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .ca_comapny_members .row:nth-child(3n+3) .col-md-3 {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
      .ca_comapny_members .row:nth-child(3n+3) .col-md-3:before {
        margin-left: -55rem; }
    .ca_comapny_members .row:nth-child(3n+3) .col-md-3 + .col-md-3 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .ca_comapny_members .row:nth-child(3n+3) .col-md-5 {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
      padding-right: 0;
      padding-left: 2.5rem; }

.ca_company_investors {
  padding-top: 11rem;
  padding-bottom: 13.3333rem;
  background: #151515; }
  .ca_company_investors h2 {
    font-size: 3.75rem;
    line-height: 0.7em;
    letter-spacing: 0.7px;
    margin-bottom: 4.58333rem; }
  .ca_company_investors h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #0fbbd6; }
  .ca_company_investors p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    text-align: center;
    font-weight: 300;
    margin-top: 2rem; }
    .ca_company_investors p a {
      color: #fff;
      text-decoration: none;
      position: relative;
      display: inline-block; }
      .ca_company_investors p a:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -0.5em;
        background: #0fbbd6; }
  .ca_company_investors .ca_slider_one {
    text-align: center; }
    .ca_company_investors .ca_slider_one img {
      display: inline-block;
      width: auto !important;
      height: auto !important;
      max-width: 190px;
      max-height: 50px; }
  .ca_company_investors .ca_slider_one_nav {
    margin-top: 2.08333rem;
    margin-bottom: 14.5833rem; }
    .ca_company_investors .ca_slider_one_nav button {
      font-size: 0;
      background: none;
      border: none;
      width: 1.66667rem;
      height: 1.66667rem;
      cursor: pointer; }
    .ca_company_investors .ca_slider_one_nav .slick-prev {
      background: url("../img/arr_left.svg") center center no-repeat;
      background-size: 100%; }
    .ca_company_investors .ca_slider_one_nav .slick-next {
      background: url("../img/arr_right.svg") center center no-repeat;
      background-size: 100%;
      float: right; }
  .ca_company_investors .ca_slider_two h3 {
    font-size: 1.83333rem;
    line-height: 2.66667rem;
    color: #7c8a97;
    margin-bottom: 0.666667rem; }
  .ca_company_investors .ca_slider_two p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    padding-left: 2.08333rem;
    text-align: left;
    position: relative;
    margin-top: 0; }
    .ca_company_investors .ca_slider_two p:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 1.25rem;
      height: 5px;
      margin-top: -2px;
      background: #f04840; }
  .ca_company_investors .ca_slider_two_nav {
    margin-top: 2.08333rem; }
    .ca_company_investors .ca_slider_two_nav button {
      font-size: 0;
      background: none;
      border: none;
      width: 1.66667rem;
      height: 1.66667rem;
      cursor: pointer; }
    .ca_company_investors .ca_slider_two_nav .slick-prev {
      background: url("../img/arr_left.svg") center center no-repeat;
      background-size: 100%; }
    .ca_company_investors .ca_slider_two_nav .slick-next {
      background: url("../img/arr_right.svg") center center no-repeat;
      background-size: 100%;
      float: right; }

.ca_careers_top {
  background-image: url("../img/home_vision_bg.png");
  padding-bottom: 18.3333rem; }
  .ca_careers_top h1 {
    margin-bottom: 3rem; }
  .ca_careers_top p {
    font-family: 'Montserrat';
    font-size: 1.75rem;
    line-height: 2.66667rem;
    color: #7c8a97;
    font-weight: 500; }

.ca_careers_embeded {
  padding-top: 4.66667rem;
  padding-bottom: 4.66667rem;
  background: #1b1b1b; }
  .ca_careers_embeded h2 {
    font-size: 3.16667rem;
    line-height: 5.41667rem;
    letter-spacing: 0.05rem;
    color: #fff;
    margin-bottom: 1.91667rem; }
  .ca_careers_embeded .ca_embedded_holder {
    display: block;
    width: 100%; }

@media (max-width: 767px) {
  .ca_button {
    width: 100%;
    max-width: 320px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-bottom: 40px; }
  .ca_top_menu {
    padding-top: 0; }
    .ca_top_menu .ca_logo {
      position: fixed;
      left: 15px;
      top: 28px;
      z-index: 1001; }
      .ca_top_menu .ca_logo img {
        height: 35px; }
    .ca_top_menu .ca_top_menu_bullets {
      display: none; }
    .ca_top_menu nav {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #1b1b1b;
      font-size: 0;
      margin: 0;
      padding: 0;
      max-width: none;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      z-index: 1000; }
      .ca_top_menu nav .ca_burger {
        display: block;
        position: fixed;
        top: 35px;
        right: 15px;
        width: 35px;
        height: 20px; }
        .ca_top_menu nav .ca_burger span {
          display: block;
          width: 100%;
          height: 1px;
          background: #7c8a97;
          position: absolute;
          right: 0;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .ca_top_menu nav .ca_burger span:nth-child(1) {
            top: 0; }
          .ca_top_menu nav .ca_burger span:nth-child(2) {
            top: 50%;
            width: 75%; }
          .ca_top_menu nav .ca_burger span:nth-child(3) {
            bottom: 0;
            width: 50%; }
      .ca_top_menu nav ul {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .ca_top_menu nav ul:before {
          display: none; }
        .ca_top_menu nav ul li {
          width: 100%;
          height: auto;
          display: block;
          margin-bottom: 25px;
          text-align: center; }
          .ca_top_menu nav ul li a {
            display: block;
            font-size: 14px;
            color: #fff;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            transform: scale(1, 0);
            -webkit-transition: all 0.3s ease 0.5s;
            -o-transition: all 0.3s ease 0.5s;
            transition: all 0.3s ease 0.5s; }
      .ca_top_menu nav.ca_active {
        top: 0; }
        .ca_top_menu nav.ca_active .ca_burger span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 50%; }
        .ca_top_menu nav.ca_active .ca_burger span:nth-child(2) {
          opacity: 0; }
        .ca_top_menu nav.ca_active .ca_burger span:nth-child(3) {
          width: 100%;
          bottom: 50%;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .ca_top_menu nav.ca_active ul li a {
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1); }
  .ca_contact_form .container {
    padding: 0 15px;
    padding-top: 55px; }
    .ca_contact_form .container .ca_static a.ca_close_form {
      width: 26px;
      height: 26px;
      top: 25px;
      right: 15px; }
    .ca_contact_form .container h2 {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.5px;
      margin-bottom: 13px; }
    .ca_contact_form .container h3 {
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 0.7px;
      margin-bottom: 20px; }
    .ca_contact_form .container p, .ca_contact_form .container .wpcf7-not-valid-tip, .ca_contact_form .container .wpcf7-response-output {
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 5px; }
    .ca_contact_form .container input {
      height: 30px;
      line-height: 30px;
      padding: 0 7px;
      font-size: 11px;
      line-height: 16px; }
      .ca_contact_form .container input[type="submit"] {
        max-width: 320px;
        font-size: 11px;
        letter-spacing: 0.7px; }
    .ca_contact_form .container textarea {
      height: 100px;
      line-height: 30px;
      padding: 0 7px;
      font-size: 11px;
      line-height: 16px; }
    .ca_contact_form .container .wpcf7-response-output {
      position: absolute;
      bottom: 0; }
    .ca_contact_form .container .ca_group {
      margin-bottom: 16px; }
      .ca_contact_form .container .ca_group .ca_half {
        width: 100%;
        padding-right: 0;
        margin-bottom: 8px; }
        .ca_contact_form .container .ca_group .ca_half:last-child {
          margin-bottom: 0;
          margin-top: 8px;
          padding-left: 0; }
  .ca_footer {
    padding-top: 40px;
    padding-bottom: 30px; }
    .ca_footer .ca_one {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .ca_footer .ca_two {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .ca_footer .ca_three {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .ca_footer .ca_four {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .ca_footer .ca_five {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
    .ca_footer .ca_six {
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
    .ca_footer .ca_logo img {
      width: 65px;
      margin-bottom: 35px; }
    .ca_footer ul {
      margin-bottom: 15px; }
      .ca_footer ul li a {
        font-size: 16px;
        line-height: 51px; }
    .ca_footer h3 {
      font-size: 16px;
      line-height: 51px; }
    .ca_footer p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px; }
    .ca_footer .ca_social span.fab, .ca_footer .ca_social span.fa {
      font-size: 40px;
      display: block;
      margin-bottom: 40px; }
    .ca_footer p.ca_copyright {
      font-size: 12px;
      margin-top: 25px; } }

@media (max-width: 767px) {
  .ca_home_top {
    padding-top: 145px;
    padding-bottom: 52px; }
    .ca_home_top h1 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 0.5px;
      margin-bottom: 54px; }
    .ca_home_top h2 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 43px; }
    .ca_home_top p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 80px; }
    .ca_home_top .ca_arrow {
      width: 50px;
      height: 50px;
      border: solid 1px #0fbbd6;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -25px; }
      .ca_home_top .ca_arrow:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: solid 10px #0fbbd6;
        border-bottom: none;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px; }
  .ca_home_vision {
    padding-top: 177px;
    padding-bottom: 124px; }
    .ca_home_vision h2 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 0.5px;
      margin-bottom: 31px;
      padding: 15px; }
    .ca_home_vision h3 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 32px; }
    .ca_home_vision p {
      font-size: 16px;
      line-height: 26px; }
  .ca_home_techs {
    padding-top: 50px;
    padding-bottom: 50px; }
    .ca_home_techs h2 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 0.5px;
      margin-bottom: 19px; }
    .ca_home_techs h3 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 30px; }
    .ca_home_techs p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px; }
    .ca_home_techs .ca_tech_bubble {
      padding: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
      .ca_home_techs .ca_tech_bubble:before {
        width: 90%;
        left: 5%;
        -webkit-box-shadow: 0px 10px 4px -2px rgba(0, 0, 0, 0.56);
        box-shadow: 0px 10px 4px -2px rgba(0, 0, 0, 0.56); }
      .ca_home_techs .ca_tech_bubble .ca_num {
        font-size: 15px;
        letter-spacing: 0.2px;
        margin-bottom: 5px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; }
      .ca_home_techs .ca_tech_bubble .img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .ca_home_techs .ca_tech_bubble h3 {
        font-size: 35px;
        letter-spacing: 0.5px;
        margin-bottom: 7px;
        position: absolute;
        top: 50px;
        left: 70px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .ca_home_techs .ca_tech_bubble a.ca_more {
        font-size: 15px;
        float: none;
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
      .ca_home_techs .ca_tech_bubble p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: auto; }
  .ca_home_company {
    padding-top: 60px;
    padding-bottom: 0; }
    .ca_home_company h2 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 0.5px;
      margin-bottom: 19px; }
    .ca_home_company h3 {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 16px; }
    .ca_home_company p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 23px; }
    .ca_home_company .img {
      padding: 0;
      width: 100vw;
      height: 280px;
      position: relative;
      left: 50%;
      margin-left: -50vw; } }

@media (max-width: 767px) {
  .ca_tech_top p {
    margin-bottom: 30px; }
  .ca_tech_layers {
    padding-top: 72px; }
    .ca_tech_layers .col-md-1 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .ca_tech_layers .col-md-5 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .ca_tech_layers .col-md-6 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .ca_tech_layers h2 {
      font-size: 34px;
      line-height: 40px;
      text-align: left;
      letter-spacing: 0.5px;
      margin-bottom: 32px;
      margin-left: 0 !important; }
    .ca_tech_layers .num {
      font-size: 15px;
      letter-spacing: 0.2px;
      margin-left: 0 !important;
      margin-bottom: 9px; }
    .ca_tech_layers .img {
      width: 30px;
      height: 30px;
      margin-bottom: 22px; }
    .ca_tech_layers h3 {
      padding-left: 45px;
      font-size: 35px;
      letter-spacing: 0.5px;
      margin-bottom: 22px; }
    .ca_tech_layers h4 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 13px; }
    .ca_tech_layers p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px; }
    .ca_tech_layers .ca_holder {
      padding: 0;
      padding-top: 20px; }
      .ca_tech_layers .ca_holder:before {
        width: 100vw;
        right: auto !important;
        left: -15px !important;
        -webkit-box-shadow: 0px 15px 15px -13px rgba(0, 0, 0, 0.56);
        box-shadow: 0px 15px 15px -13px rgba(0, 0, 0, 0.56); }
      .ca_tech_layers .ca_holder .ca_item {
        width: 50% !important;
        margin-bottom: 20px;
        padding: 0 !important; }
        .ca_tech_layers .ca_holder .ca_item .img {
          width: 40px;
          height: 40px;
          margin-bottom: 10px; }
        .ca_tech_layers .ca_holder .ca_item p {
          font-size: 13px;
          line-height: 22px; }
  .ca_tech_simulation .ca_pre_simulation {
    padding-top: 240px;
    padding-bottom: 230px; }
    .ca_tech_simulation .ca_pre_simulation h2 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.5px;
      margin-bottom: 30px; }
    .ca_tech_simulation .ca_pre_simulation h3 {
      font-size: 19px;
      line-height: 35px;
      margin-bottom: 35px; }
    .ca_tech_simulation .ca_pre_simulation .ca_arrow {
      width: 50px;
      height: 50px;
      border: solid 1px #0fbbd6;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -25px; }
      .ca_tech_simulation .ca_pre_simulation .ca_arrow:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: solid 10px #0fbbd6;
        border-bottom: none;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px; }
  .ca_tech_simulation .ca_simulation {
    min-height: 667px; }
  .ca_tech_video {
    padding-top: 65px;
    padding-bottom: 40px; }
    .ca_tech_video h2 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 33px; }
    .ca_tech_video h3 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 50px; }
    .ca_tech_video .img {
      width: 50px;
      margin-right: 88px; }
      .ca_tech_video .img img {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 7px; }
      .ca_tech_video .img p {
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 26px; }
    .ca_tech_video .ca_video_holder {
      width: 100%;
      height: auto; }
      .ca_tech_video .ca_video_holder .ca_video {
        width: 100%;
        height: 250px; }
      .ca_tech_video .ca_video_holder p {
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        font-size: 16px;
        line-height: 26px;
        margin-top: 17px;
        left: 15px;
        padding-left: 15px; }
        .ca_tech_video .ca_video_holder p:before {
          width: 2px;
          height: 35px;
          bottom: 0;
          left: 0; }
  .ca_tech_simulation .ca_simulation .ca_rotate_placeholder {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000 url("../img/demo/rotate.jpg") center center no-repeat;
    background-size: 100% auto; } }

@media (max-width: 575px) {
  .ca_tech_video .ca_video_holder .ca_video {
    width: 100vw;
    position: relative;
    left: -15px; } }

@media (max-width: 767px) {
  .ca_company_top {
    position: relative; }
    .ca_company_top .row {
      position: static; }
      .ca_company_top .row .col-md-10 {
        position: static; }
        .ca_company_top .row .col-md-10 * {
          position: relative;
          z-index: 1; }
        .ca_company_top .row .col-md-10:before {
          display: none; }
        .ca_company_top .row .col-md-10 h1 {
          font-size: 35px;
          line-height: 40px;
          position: relative;
          text-align: left;
          top: 0;
          left: 0;
          padding-top: 105px;
          margin-bottom: 32px; }
        .ca_company_top .row .col-md-10 img {
          position: absolute;
          width: auto !important;
          max-width: none;
          height: 100%;
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          z-index: 0; }
  .ca_company_info {
    padding-top: 0;
    padding-bottom: 70px; }
    .ca_company_info h2 {
      font-size: 19px;
      line-height: 29px;
      font-family: 'Montserrat';
      font-weight: 500;
      text-align: left;
      margin-bottom: 22px; }
    .ca_company_info h3 {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 3px;
      text-align: left; }
    .ca_company_info h4 {
      font-size: 15px;
      line-height: 32px;
      margin-bottom: 30px;
      text-align: left; }
    .ca_company_info p {
      font-size: 16px;
      line-height: 26px;
      padding: 0;
      margin-bottom: 25px;
      text-align: left; }
    .ca_company_info img {
      display: none; }
    .ca_company_info .ca_arrow {
      width: 50px;
      height: 50px;
      border: solid 1px #0fbbd6;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -25px;
      margin-top: 50px; }
      .ca_company_info .ca_arrow:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: solid 10px #0fbbd6;
        border-bottom: none;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px; }
  .ca_comapny_members {
    padding-top: 55px;
    padding-bottom: 25px; }
    .ca_comapny_members .row h2 {
      font-size: 35px;
      line-height: 40px;
      text-align: left;
      margin-bottom: 23px; }
    .ca_comapny_members .row img {
      width: 227px;
      height: auto;
      margin-bottom: 10px;
      position: relative;
      left: auto;
      right: auto;
      width: 100%;
      height: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .ca_comapny_members .row h3 {
      font-size: 19px;
      line-height: 32px; }
    .ca_comapny_members .row h4 {
      font-size: 12px;
      line-height: 26px;
      padding-bottom: 85px !important; }
      .ca_comapny_members .row h4:before {
        height: 55px;
        bottom: 15px; }
    .ca_comapny_members .row p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px; }
    .ca_comapny_members .row .col-md-12 {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .ca_comapny_members .row .col-md-1 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .ca_comapny_members .row .col-md-3 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .ca_comapny_members .row .col-md-3:before {
        margin-left: 50rem; }
    .ca_comapny_members .row .col-md-5 {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      padding: 0 15px !important; }
    .ca_comapny_members .row .col-md-3 + .col-md-3 {
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; }
  .ca_company_investors {
    padding-bottom: 65px; }
    .ca_company_investors h2 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 23px; }
    .ca_company_investors h3 {
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 55px; }
    .ca_company_investors p {
      font-size: 16px;
      line-height: 26px; }
    .ca_company_investors .ca_slider_one {
      margin-bottom: 20px; }
      .ca_company_investors .ca_slider_one img {
        width: 80% !important;
        height: auto;
        max-height: none; }
    .ca_company_investors .ca_slider_one_nav {
      margin-bottom: 70px; }
      .ca_company_investors .ca_slider_one_nav button {
        width: 20px;
        height: 20px; }
    .ca_company_investors .ca_slider_two {
      margin-bottom: 35px; }
      .ca_company_investors .ca_slider_two h3 {
        font-size: 22px;
        line-height: 32px; }
      .ca_company_investors .ca_slider_two p {
        font-size: 16px;
        line-height: 26px;
        padding-left: 25px; }
        .ca_company_investors .ca_slider_two p:before {
          width: 15px; }
    .ca_company_investors .ca_slider_two_nav button {
      width: 20px;
      height: 20px; } }

@media (max-width: 767px) {
  .ca_careers_top {
    padding-bottom: 120px; }
    .ca_careers_top h1 {
      margin-bottom: 36px; }
    .ca_careers_top p {
      font-size: 21px;
      line-height: 32px;
      margin-bottom: 25px; }
  .ca_careers_embeded {
    padding-top: 56px;
    padding-bottom: 56px; }
    .ca_careers_embeded h2 {
      font-size: 38px;
      line-height: 65px;
      letter-spacing: 0.6px;
      margin-bottom: 23px;
      text-align: center; }
    .ca_careers_embeded .ca_embedded_holder {
      display: block;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */